<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>cxf</display-name>
    
  	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

    <servlet>
        <servlet-name>cxf</servlet-name>
        <display-name>cxf</display-name>
        <description>Apache CXF Endpoint</description>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cxf</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>redeem</servlet-name>
        <servlet-class>o2stub.RedeemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>redeem</servlet-name>
        <url-pattern>/redeemotac/*</url-pattern>
    </servlet-mapping>


	 <servlet>
        <servlet-name>updatePhone</servlet-name>
        <servlet-class>o2stub.UpdatePhoneServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updatePhone</servlet-name>
        <url-pattern>/updatePhone</url-pattern>
    </servlet-mapping>

	 <servlet>
        <servlet-name>checkPhone</servlet-name>
        <servlet-class>o2stub.CheckPhoneServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkPhone</servlet-name>
        <url-pattern>/checkPhone</url-pattern>
    </servlet-mapping>



</web-app>

