<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Props</title>
</head>
<body>
<div>
    <a href="#" th:href="@{signout}">Sign Out</a>
    <h1>Actual properties:</h1>
    <div th:if="${locale}">
        <strong>Locale: </strong><label th:text="${locale}">mtv</label>
    </div>
    <br/>
    <table class="table" th:if="${properties}">
        <thead>
        <tr>
            <th>#</th>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <form id="propEditForm" action="#" th:action="@{props}">
        <tr th:each="prop, it: ${properties}">
            <td th:text="${it.index+1}">1</td>
            <td th:text="${prop.key}">login</td>
            <td th:text="${prop.value}">dev@i.ua</td>
        </tr>
        </form>
        </tbody>
    </table>
</div>
</body>
</html>