<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<!-- Persistence log conf -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="mobi.nowtechnologies.server.shared.log.UnixTimePatternLayout">
			<param name="ConversionPattern"
				value="%p  %d{yyyy.MM.dd HH\:mm\:ss,SSS/zzz} [%15.15t] %C{1}.%M() %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ALL" />
			<param name="LevelMax" value="INFO" />
			<param name="AcceptOnMatch" value="FALSE" />
		</filter>
	</appender>

	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.err" />
		<layout class="mobi.nowtechnologies.server.shared.log.UnixTimePatternLayout">
			<param name="ConversionPattern"
				value="%p  %d{yyyy.MM.dd HH\:mm\:ss,SSS/zzz} [%15.15t] %C{1}.%M() %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="FALSE" />
		</filter>
	</appender>

	<logger name="org.springframework">
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</logger>
	<logger name="org.apache.commons">
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</logger>
	<logger name="net.sf.hibernate.cfg">
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</logger>
	<logger name="org.hibernate.type">
        <level value="INFO"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>
	<logger name="mobi.nowtechnologies">
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</logger>
	<logger name="httpclient">
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</logger>
	<logger name="org.apache">
		<level value="INFO"></level>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</logger>

</log4j:configuration>