@font-face {
    font-family: 'vodafoneLight';
    src: url('fonts/vodafonelt-webfont.eot');
    src: url('fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vodafonelt-webfont.woff') format('woff'),
         url('fonts/vodafonelt-webfont.ttf') format('truetype'),
         url('fonts/vodafonelt-webfont.svg#vodafoneLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vodafoneRegular';
    src: url('fonts/vodafonerg-webfont.eot');
    src: url('fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vodafonerg-webfont.woff') format('woff'),
         url('fonts/vodafonerg-webfont.ttf') format('truetype'),
         url('fonts/vodafonerg-webfont.svg#vodafoneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vodafoneBold';
    src: url('fonts/vodafonergbd-webfont.eot');
    src: url('fonts/vodafonergbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vodafonergbd-webfont.woff') format('woff'),
         url('fonts/vodafonergbd-webfont.ttf') format('truetype'),
         url('fonts/vodafonergbd-webfont.svg#vodafoneBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: vodafoneLight, Verdana, Arial, Helvetica, sans-serif;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	font-size: 14px;
	color: #767676;
	background-color: none;	
    margin: 0.0px 14.0px 0.0px 14.0px;
}

* {
	margin: 0;
	padding: 0;
}

.social_fb a, .social_tw a {
	color: #767676;
	text-decoration: none;
	line-height: 23px;
	vertical-align: 10px;
}

.social_fb span{
	background: url("fb.png") no-repeat;
	background-size: 23px 23px;	
	display: block;
	width: 23px;
	height: 23px;
	position: relative;
	float: left;
    margin: 0.0px 0.0px 0.0px 0.0px;
}

.social_fb span a, .social_tw span a {
	position: relative;
	float: right;
}

.social_tw span{
	background: url("tw.png") no-repeat;
	background-size: 23px 23px;	
	display: block;
	width: 23px;
	height: 23px;
	position: relative;
	float: left;
    margin: 0.0px 0.0px 0.0px 0.0px;

}
