@font-face {
    font-family: 'vodafoneLight';
    src: url('../fonts/VodafoneLt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vodafoneRegular';
    src: url('../fonts/VodafoneRg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vodafoneBold';
    src: url('../fonts/VodafoneRgBd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #ebebeb;
	font-family: 'vodafoneRegular', Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}

/*Cookie Conteiner*/

.cookie_conteiner {
	position: absolute;
	margin: 0;
	width: 100%;
	z-index: 1000;
	display: none;
}
	
.left {
	width:10%;
	float:left;
}

.right {
	width:10%;
	float:right;
}

.header {
    text-align: center;
    height: 45px;
/*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e60000', endColorstr='#e60000'); for IE */
    background-image: linear-gradient(bottom, rgb(230,0,0) 24%, rgb(230,0,0) 62%);
    background-image: -o-linear-gradient(bottom, rgb(230,0,0) 24%, rgb(230,0,0) 62%);
    background-image: -moz-linear-gradient(bottom, rgb(230,0,0) 24%, rgb(230,0,0) 62%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,0,0) 24%, rgb(230,0,0) 62%);
    background-image: -ms-linear-gradient(bottom, rgb(230,0,0) 24%, rgb(230,0,0) 62%);
    -pie-background: linear-gradient(bottom, rgb(230,0,0) 24%, rgb(230,0,0) 62%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, rgb(230,0,0)),
        color-stop(0.62, rgb(230,0,0))
    );
}

.logo {
	color: #fff;
	display: inline-block;
	font-size: 18px;
    font-family: vodafoneRegular, Helvetica, Arial, sans-serif;
    padding-top: 10px;
    position: relative;
}

.button-small {
	background-color: #e60000;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-family: vodafoneRegular, Helvetica, Arial, sans-serif;
    height: 25px;
    line-height: 26px;
    padding: 0 10px 0 10px;
    text-align: center;
    text-decoration: none;
}

.button-right  {
    float: right;
    margin: 9px 10px 13px 0;
    position: relative;
}

.paymentscontainer {
	padding: 0 5px;
}

.tracksHeader {
	padding: 10px 5px 0;
}

.bottom6 {margin-bottom: 6px;}
.bottom8 {margin-bottom: 8px;}

.redColor {color: #e60000;}
.grayBlackColor {color: #333;}
.blackColor {color: #000;}

.S9 { font-size: 9px; }
.S10{ font-size: 10px; }
.S11{ font-size: 11px; }
.S12{ font-size: 12px; }
.S13{ font-size: 13px; }
.S14{ font-size: 14px; }
.S15{ font-size: 15px; }
.S16{ font-size: 16px; }
.S17{ font-size: 17px; }
.S20{ font-size: 20px; }

.vfR { font-family: vodafoneRegular, Helvetica, Arial, sans-serif;}
.vfL { font-family: vodafoneLight, Helvetica, Arial, sans-serif;}
.vfB { font-family: vodafoneBold, Helvetica, Arial, sans-serif;}