<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<!--Web log config file-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <layout class="mobi.nowtechnologies.server.shared.log.UnixTimePatternLayout">
            <param name="ConversionPattern"
                   value="%p  %d{yyyy.MM.dd HH\:mm\:ss,SSS/zzz} userId\=[%X{userId}] userName\=[%X{userName}] community\=[%X{community}] command\=[%X{command}]] %c{1}.%M() %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ALL" />
            <param name="LevelMax" value="INFO" />
            <param name="AcceptOnMatch" value="FALSE" />
        </filter>
    </appender>

    <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err" />
        <layout class="mobi.nowtechnologies.server.shared.log.UnixTimePatternLayout">
            <param name="ConversionPattern"
                   value="%p  %d{yyyy.MM.dd HH\:mm\:ss,SSS/zzz} userId\=[%X{userId}] userName\=[%X{userName}] community\=[%X{community}] command\=[%X{command}]] %c{1}.%M() %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN" />
            <param name="LevelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="FALSE" />
        </filter>
    </appender>

    <logger name="mobi.nowtechnologies">
        <level value="INFO"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>

    <logger name="org.springframework">
        <level value="INFO"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>
    <logger name="org.apache.commons">
        <level value="INFO"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>
    <logger name="net.sf.hibernate.cfg">
        <level value="INFO"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport">
        <level value="TRACE"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>
    <logger name="org.hibernate.TYPE">
        <level value="TRACE"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="TRACE"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>

    <logger name="javapns">
        <level value="DEBUG"></level>
        <appender-ref ref="stdout"/>
        <appender-ref ref="stderr"/>
    </logger>
    <logger name="httpclient">
        <level value="TRACE"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>
    <logger name="org.apache">
        <level value="TRACE"></level>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </logger>

</log4j:configuration>