<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="default.console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <param name="threshold" value="info" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="target/logs/contentCopier.log" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="info" />
		<!-- <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="fileNamePattern" value="${catalina.base}/logs/admin_%d{yyyy-ww}.gz" />
		</rollingPolicy>
		 -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
	</appender>


    <root>
        <priority value="debug" />
        
        <appender-ref ref="default.console" />
        <appender-ref ref="fileAppender" />

    </root>

</log4j:configuration>
