<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="business-logic-web-RollingFileAppender" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="File" value="target/logs/test-output.log" />
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="fileNamePattern" value="${catalina.base}/logs/test-output_%d{yyyy-MM-dd}.gz" />
        </rollingPolicy>
        <layout class="mobi.nowtechnologies.server.shared.log.UnixTimePatternLayout">
            <!--The " ut " will be replace on current "unix time" value-->
            <param name="ConversionPattern"
                   value="[%p] %d{yyyy.MM.dd HH\:mm\:ss,SSS/zzz} %C{1}.%M() %m%n" />
        </layout>
    </appender>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <layout class="mobi.nowtechnologies.server.shared.log.UnixTimePatternLayout">
            <!--The " ut " will be replace on current "unix time" value-->
            <param name="ConversionPattern"
                   value="[%p] %d{yyyy.MM.dd HH\:mm\:ss,SSS/zzz} %C{1}.%M() %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE" />
            <param name="LevelMax" value="INFO" />
            <param name="AcceptOnMatch" value="FALSE" />
        </filter>
    </appender>

    <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err" />
        <layout class="mobi.nowtechnologies.server.shared.log.UnixTimePatternLayout">
            <!--The " ut " will be replace on current "unix time" value-->
            <param name="ConversionPattern"
                   value="[%p] %d{yyyy.MM.dd HH\:mm\:ss,SSS/zzz} %C{1}.%M() %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN" />
            <param name="LevelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="FALSE" />
        </filter>
    </appender>

    <logger name="org.hibernate.stat">
        <level value="WARN"/>
        <appender-ref ref="stdout"/>
    </logger>

     <root>
        <level value="INFO"/>
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
        <appender-ref ref="business-logic-web-RollingFileAppender" />
    </root>

</log4j:configuration>
