body {
    height: 100%!important;
    margin: 0;
}
html {
    height: 100%!important;
}
.page {
    height: 100%;
}
@font-face {
    font-family: 'FuturaSB-BoldItalic';
    src: url('../fonts/FuturaSB-BoldItalic.ttf');
}
@font-face {
    font-family: 'NimbusSanTOTLig';
    src: url('../fonts/NimbusSanTOT-Lig.otf');
}
body {
    font-family: 'FrutigerRegular', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}
.cookie_conteiner {
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}


.root-container {
    padding: 5% 5% 0 5%;
}

.page-container {
    padding: 0 5% 0 5%;
    height: 100%;
    position: absolute;
}

.root-container-selection {
    background: url(../imgs/bgs/coming_soon.png) no-repeat top left;
    background-size: cover;
    height: 100%;
}

.container-option {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
}

.container-root-logo {
    display: table;
}

.go-premium-header {
    display: table;
    height: 20%;
    width: 100%;
}
.go-premium-header-logo {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}
.go-premium-header-logo-img {
    height: 30%;
}
.go-premium-header-ad {
    display: table-cell;
    vertical-align: middle;
}
.go-premium-header-title {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
}
.go-premium-header-title-options {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
}
.center-container {
    text-align: center;
}
.header {
    background-color: #000;
}
.header1 {
    font-family: 'FuturaSB-BoldItalic', Sans, sans-serif;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    padding: 0.15em;
}
.header2 {
    font-family: 'FuturaSB-BoldItalic', Sans, sans-serif;
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    padding: 0.15em;
}
.message {
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
    text-align: center;
}
.error {
    color: #DE3D16;
    font-size: 0.7em;
}
.notification {
    font-size: 0.7em;
}
.message-terms-and-conditions {
    font-size: 0.8em;
}

.error-logo {
    width: 35%;
    margin: 0 auto;
    display: block;
}
.payment-logo {
    width: 40%;
    margin: 0 auto;
    display: block;
}
.premium-logo {
    height: 100%;
    margin: 0 auto;
    display: block;
}
.vf-nav-header {
    width: 100%;
    margin: 5% 0;
    height: 5%;
    text-align: right;
    background: url(../imgs/vf_roundel_icon.png) no-repeat center;
    background-size: contain;
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
}

.premium-logo-container {
    height: 30%;
}
.success-logo {
    display: block;
}

/*
Buttons
*/
.go-premium-button {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 10px auto 5px;
    color: black;
}
.go-premium-button-device {
    padding: 10px;
    border-radius: 20px;
    width: 60%;
}
.go-premium-button-target:active {
    opacity: 0.5;
}
.go-premium-body-ok {
    background-color: #19f3cd;
    border: 1px solid #19f3cd;
}
.go-premium-body-cancel {
    background-color: #fff;
    border: 1px solid #000;
}
.go-premium-button-close {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5%;
}


.mobile-input {
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
    text-align: center;
    background-color: transparent;
    border: 0 solid;
    border-bottom-width: 1px;
    width:100%;
}
.mobile-input-error {
    border-color: #ff0000;
    color: #ff0000;
}
.mobile-input-wrapper {
    margin: 20px auto 5px;
    width: 70%;
}
.mobile-input:focus {
    outline: 0;
}

.pin-code-wrapper {
    width: 165px;
    background-color: #000;
    margin: 10px auto;
    clear:both;
}
.pin-code-wrapper-error {
    width: 165px;
    background-color: #DE3D16;
    margin: 10px auto;
    clear:both;
}
.pin-code-digit {
    text-align: center;
    width: 40px;
    height: 40px;
    border: 0 solid;
    margin-top: 1px;
    margin-bottom: 1px;
}
.pin-code-digit-1 {
    float:left;
    margin-left:1px;
}
.pin-code-digit-2 {
    float:left;
    margin-left:1px;
}
.pin-code-digit-3 {
    float:left;
    margin-left:1px;
}
.pin-code-digit-4 {
    margin-left:1px;
    margin-right:1px;
}



/**
** HOLDING PAGE SECTION
**//*

.holding_page_main_container {
    background: url(../imgs/bgs/coming_soon.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.holding_page_content_container {
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
}

.holding_page_close_button_small {
    margin-top: 30px;
    margin-left: 30px;
    width: 20px;
    height: 20px;
    float: left;
}

.holding_page_close_button_small button {
    background: url(../imgs/icon_close.png) no-repeat center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}

.holding_page_logo {
    background: url(../imgs/logo_holding.png) no-repeat center;
    background-size: 100% auto;
    clear: left;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 31%;
    height: 4%;
    display: block;
}

.holding_page_img {
    background: url(../imgs/img_holding.png) no-repeat center;
    background-size: 100% auto;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height: 27%;
}

.holding_page_relax {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    font-size: 46px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    margin-top: 13%;
}

.holding_page_enjoy {
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
    font-size: 28px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    line-height: 150%;
}

.holding_page_close_button_big {
    margin: 33% 9% 1%;
}

.holding_page_close_button_big button{
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    font-size: 36px;
    border-radius: 45px;
    background-color: #18F3CD;
    color: #000000;
    border: none;
    padding: 4%;
    width: 100%;
}

.pin-code {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    position: relative;
}

.pin-error {
    color: #DE3D16;
    border: #DE3D16 1px solid;
}

.pin-error-msg {
    color: #DE3D16;
    font-size: 13px;
    text-align: center;
    margin: auto;
}

@media all and (min-width: 1000px) {
    .holding_page_content_container {
        top: 32px;
        right: 32px;
        left: 32px;
        bottom: 32px;
    }

    .holding_page_close_button_small {
        margin-top: 45px;
        margin-left: 45px;
        width: 34px;
        height: 34px;
    }

    .holding_page_relax {
        font-size: 72px;
    }

    .holding_page_enjoy {
        font-size: 41px;
    }

    .holding_page_close_button_big button{
        font-size: 56px;
    }

    .holding_page_close_button_big button{
        border-radius: 65px;
    }
}

@media all and (min-width: 720px) {

    .holding_page_close_button_small {
        background: url(../imgs/icon_close_big.png) no-repeat center;
        background-size: 100% auto;
    }

    .holding_page_logo {
        background: url(../imgs/logo_holding_big.png) no-repeat center;
        background-size: 100% auto;
        width: 29%;
    }

    .holding_page_img {
        background: url(../imgs/img_holding_big.png) no-repeat center;
        background-size: 100% auto;
        width: 60%;
    }

    .holding_page_close_button_big {
        margin: 30% 9% 1%;
    }
}

@media all and (max-width: 580px) {
    .holding_page_relax {
        font-size: 37px;
    }

    .holding_page_enjoy {
        font-size: 21px;
    }

    .holding_page_close_button_big button{
        font-size: 33px;
    }
}

@media all and (max-width: 480px) {
    .holding_page_content_container {
        top: 15px;
        right: 15px;
        left: 15px;
        bottom: 15px;
    }

    .holding_page_img {
        width: 63%;
        height: 28%;
    }

    .holding_page_relax {
        font-size: 33px;
    }

    .holding_page_enjoy {
        font-size: 18px;
    }

    .holding_page_close_button_big button{
        font-size: 27px;
    }

    .holding_page_close_button_big {
        margin: 27% 11% 1%;
    }
}

@media all and (max-width: 430px){
    .holding_page_relax {
        font-size: 26px;
    }

    .holding_page_enjoy {
        font-size: 15px;
    }

    .holding_page_close_button_big button{
        font-size: 24px;
    }

    .holding_page_close_button_big {
        margin-top: 20%;
    }
}

@media all and (max-width: 330px){

    .holding_page_close_button_small {
        margin-top: 15px;
        margin-left: 15px;
        height: 15px;
        width: 15px;
    }

    .holding_page_img {
        height: 30%;
    }

    .holding_page_relax {
        font-size: 18px;
    }

    .holding_page_enjoy {
        font-size: 12px;
    }

    .holding_page_close_button_big button{
        font-size: 16px;
    }

    .holding_page_close_button_big {
        margin: 18% 9% 1%;
    }
}

@media all and (max-width: 250px){

    .holding_page_close_button_small {
        margin-top: 10px;
        margin-left: 10px;
        height: 13px;
        width: 13px;
    }

    .holding_page_logo {
        margin-top: 10%;
        width: 24%;
    }

    .holding_page_img {
        margin-top: 10%;
        width: 50%;
    }

    .holding_page_relax {
        margin-top: 10%;
        font-size: 15px;
    }

    .holding_page_enjoy {
        margin-top: 5%;
        font-size: 10px;
    }

    .holding_page_close_button_big button{
        font-size: 13px;
    }

    .holding_page_close_button_big {
        margin: 7% 9% 1%;
    }

    .holding_page_close_button_big button{
        padding: 2%;
    }
}

*/
/* iPhone fix *//*

@media all and (width: 640px) and (height: 960px){

    .holding_page_logo {
        margin-top: 8%;
        width: 25%;
    }

    .holding_page_img {
        margin-top: 10%;
        width: 57%;
        height: 28%;
    }

    .holding_page_relax {
        margin-top: 10%;
        font-size: 43px;
    }

    .holding_page_enjoy {
        margin-top: 5%;
        font-size: 23px;
    }

    .holding_page_close_button_big button{
        font-size: 33px;
    }

    .holding_page_close_button_big {
        margin: 25% 13% 1%;
    }
}


*/
/**
** GO PREMIUM SECTION - OLD
**//*

.go-premium-container {
    padding: 30px;
    height: 100%;
    background-color: white;
}

.go-premium-header {
    display: table;
}

.go-premium-header-logo {
    display: table-cell;
    vertical-align: middle;
    background: url(../imgs/badge_mtv.png) no-repeat center;
    background-size: 100% auto;
}

.go-premium-header-ad {
    display: table-cell;
    vertical-align: middle;
}

.go-premium-header-title {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
}

.go-premium-body-title {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    display: block;
    text-align: center;
    vertical-align: middle;
}

.go-premium-text-message-wrapper {
    display: block;
    text-align: center;
    vertical-align: middle;
}

.go-premium-text-message {
    font-family: 'NimbusSanTOTLig', Arial, sans-serif;
    line-height: 150%;
}

.go-premium-button {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.go-premium-button-target:active {
    opacity: 0.5;
}

.go-premium-body-ok {
    background-color: #19f3cd;
    border: 1px solid #19f3cd;
}

.go-premium-body-cancel {
    background-color: #fff;
    border: 1px solid #000;
}

.go-premium-body-button-up {
    margin: 60px 50px 0 50px;
}

.go-premium-body-button-below {
    margin: 40px 50px 0 50px;
}



.error-title p{
    margin: 0px;
    font-size: 150%;
}

.error-title span{
    color: #FFF;
    background-color: #000;
    padding: 5px 10px 3px 10px;
    display: inline-block;
}

.error-description {
    margin: 30px auto 30px auto;
}

.go-premium-unsubscribe-premium-banner {
    background: url(../imgs/img_notification_premium.png) no-repeat center;
    width: 90%;
}

.go-premium-unsubscribe-pass-banner {
    background: url(../imgs/img_notification_pass.png) no-repeat center;
    width: 90%;
}

.go-premium-unsubscribe-banner {
    background-size: 100% auto;
    display: block;
    margin: 10px auto;
}

.go-premium-first-half {
    width: 100%;
    height: 50%;
    background-color: #19f3cd;
}

.go-premium-second-half {
    width: 100%;
    height: 50%;
}

.go-premium-success {
    padding: 0 !important;
    height: 100%;
}

.go-premium-success-salutation-container {
    width: 100%;
    position: absolute;
}

.go-premium-success-salutation-container-text {
    margin: 0 auto;
    width:90%;
    text-align: center;
}

.go-premium-success-salutation {
    background-color: #000;
    color:#FFF;
    font-family: 'FuturaSB-BoldItalic';
    line-height: 120%;
}

.go-premium-success-salutation-title {
    background-color: #000;
    color:#FFF;
    font-family: 'FuturaSB-BoldItalic';
    line-height: 120%;
}

.go-premium-success-notification-container {
    position: absolute;
    width: 100%;
    height: 180px;
    margin-top: -110px;
}

.go-premium-success-notification{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 5%;
    right: 5%;
}

.go-premium-success-notification-img{
    display: block;
    height: 100%;
    margin: auto;
}

.go-premium-success-ad-container {
    width: 100%;
    position: absolute;
}

.go-premium-success-ad-text {
    margin: 0 auto;
    width:90%;
    text-align: center;
}

.go-premium-success-ad-text-1 {
    font-family: 'FuturaSB-BoldItalic';
    line-height: 120%;
}

.go-premium-success-ad-text-2 {
    font-family: 'FuturaSB-BoldItalic';
    line-height: 120%;
}

.go-premium-success-close-button-container {
    position: absolute;
}

*/
/**
** GO PREMIUM SECTION - NEW
**//*

.subscription_root_container {
    background: url(../imgs/bgs/bg.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.subscription_header_block {
    background-color: #FFFFFF;
}

.go-premium-header-title-options{
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
}

.subscription_option_container{
    background-color: #FFFFFF;
}

.subscription_premium_logo{
    background: url(../imgs/label_premium.png) no-repeat;
    background-size: 100%;
    margin: 0 auto 0;
    width: 58%;
}

.subscription_pass_logo{
    background: url(../imgs/label_pass.png) no-repeat;
    background-size: 100%;
    margin: 0 auto 0;
    width: 64%;
}

.subscription_option_price_message{
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
    text-align: center;
}

.go-premium-unsubscribe-title{
    color: #ffffff;
    background-color: #000000;
    padding: 4px 8px;
    margin: 0 auto;
    display: inline-block;
}

.go-premium-unsubscribe-title-ios{
    padding-top: 7px;
}

.go-premium-unsubscribe-title-bottom{
    padding-top: 2px;
}

.go-premium-success-salutation-device {
    white-space: nowrap;
}

.error-banner {
    width: 30%;
    background: url(../imgs/icon_error.png) no-repeat center;
    background-size: 100% auto;
}

@media all and (max-width: 3000px) {
    .go-premium-button-close-device {
        width: 72px;
        height: 72px;
    }

    .go-premium-container-device {
        padding: 60px;
    }

    .go-premium-text-message-device {
        font-size: 50px;
    }

    .go-premium-body-title-device {
        font-size: 80px;
        margin: 80px auto 50px;
    }

    .go-premium-unsubscribe-title-device{
        font-size: 80px;
        margin: 80px auto 80px;
    }

    .go-premium-button-device {
        padding: 40px;
        font-size: 54px;
        border-radius: 80px;
    }

    .go-premium-unsubscribe-banner-device {
        margin-top:75px;
        width: 236px;
        height: 380px;
    }

    .go-premium-unsubscribe-logo-device{
        height: 400px;
    }

    .go-premium-header-title-device {
        font-size: 60px;
        line-height: 120%;
    }

    .go-premium-header-logo-device {
        width: 268px;
        height: 268px;
    }

    .go-premium-text-message-wrapper-device {
        width: 90%;
        margin: 0 auto 20px;
    }

    .go-premium-success-salutation-container-device {
        margin-top:-500px;
    }
    .go-premium-success-salutation-device {
        font-size: 80px;
        padding: 10px;
    }
    .go-premium-success-ad-text-1-device {
        padding: 12px;
        font-size: 60px;
    }
    .go-premium-success-ad-text-2-device {
        padding: 8px;
        font-size: 60px;
    }
    .go-premium-success-salutation-title-1-device {
        font-size: 60px;
        padding: 12px;
    }
    .go-premium-success-salutation-title-2-device {
        font-size: 60px;
        padding: 8px;
    }
    .go-premium-success-ad-container-device {
        margin-top:170px;
    }
    .go-premium-success-close-button-container-device {
        margin-top:20px;
    }

    .subscription_header_block_device {
        margin: 20px 20px 0;
        padding: 10px;

    }

    .go-premium-header-logo-device {
        width: 146px;
        height: 146px;
    }

    .go-premium-header-ad {
        padding-left: 40px;
    }

    .go-premium-header-title-device {
        font-size: 40px;
    }

    .go-premium-header-title-options-device {
        font-size: 36px;
    }

    .subscription_option_container_device {
        margin: 20px 20px 0;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .subscription_premium_logo_device {
        height: 86px;
    }

    .subscription_option_price_message_device {
        font-size: 28px;
        margin: 30px auto 30px;
        width: 80%;
    }

    .subscribe-button-device {
        margin: 0 60px 0;
        padding: 20px 0 20px 0;
        border-radius: 60px;
        font-size: 28px;
    }

    .subscription_pass_logo_device {
        height: 80px;
    }

    .error-title {
        font-size: 70px;
    }

    .error-description {
        margin: 60px auto 60px auto;
    }

    .go-premium-success-notification-container {
        height: 320px;
        margin-top: -190px;
    }

    .pin-code {
        width: 700px;
        height: 175px;
        margin: 60px auto;
    }

    .pin-code-digit {
        font-size: 90px;
    }
}

@media all and (max-width: 1080px) {
    .go-premium-button-close-device {
        width: 72px;
        height: 72px;
    }

    .go-premium-container-device {
        padding: 60px;
    }

    .go-premium-text-message-device {
        font-size: 50px;
    }

    .go-premium-body-title-device {
        font-size: 80px;
        margin: 80px auto 50px;
    }

    .go-premium-button-device {
        padding: 40px;
        font-size: 54px;
        border-radius: 80px;
    }

    .go-premium-unsubscribe-banner-device {
        margin-top:75px;
        width: 236px;
        height: 380px;
    }

    .go-premium-header-title-device {
        font-size: 60px;
        line-height: 120%;
    }

    .go-premium-header-logo-device {
        width: 268px;
        height: 268px;
    }

    .go-premium-success-salutation-container-device {
        margin-top:-420px;
    }
    .go-premium-success-salutation-device {
        font-size: 70px;
        padding: 10px;
    }
    .go-premium-success-ad-text-1-device {
        padding: 12px;
        font-size: 50px;
    }
    .go-premium-success-ad-text-2-device {
        padding: 8px;
        font-size: 50px;
    }
    .go-premium-success-salutation-title-1-device {
        font-size: 50px;
        padding: 12px;
    }
    .go-premium-success-salutation-title-2-device {
        font-size: 50px;
        padding: 8px;
    }
    .go-premium-success-close-button-container-device {
        margin-top:20px;
    }

    .error-title {
        font-size: 70px;
    }

    .pin-code {
        width: 500px;
        height: 125px;
        margin: 50px auto;
    }

    .pin-code-digit {
        font-size: 60px;
    }
}

@media all and (max-width: 800px) {
    .go-premium-button-close-device {
        width: 66px;
        height: 66px;
    }

    .go-premium-container-device {
        padding: 20px;
    }

    .go-premium-text-message-device {
        font-size: 25px;
    }

    .go-premium-body-title-device {
        font-size: 45px;
        margin: 60px auto 50px;
    }

    .go-premium-button-device {
        padding: 22px;
        font-size: 40px;
        border-radius: 50px;
    }

    .go-premium-unsubscribe-banner-device {
        margin-top:50px;
        width: 200px;
        height: 322px;
    }

    .go-premium-header-title-device {
        font-size: 45px;
        line-height: 120%;
    }

    .go-premium-header-logo-device {
        width: 156px;
        height: 156px;
    }

    .go-premium-success-salutation-container-device {
        margin-top:-400px;
    }
    .go-premium-success-ad-text-1-device {
        padding: 12px;
        font-size: 50px;
    }
    .go-premium-success-ad-text-2-device {
        padding: 8px;
        font-size: 50px;
    }
    .go-premium-success-salutation-device {
        font-size: 60px;
        padding: 10px;
    }
    .go-premium-success-salutation-title-1-device {
        font-size: 45px;
        padding: 12px;
    }
    .go-premium-success-salutation-title-2-device {
        font-size: 45px;
        padding: 8px;
    }
    .go-premium-success-close-button-container-device {
        margin-top:20px;
    }
    .go-premium-unsubscribe-title-device{
        font-size: 38px;
        margin: 60px auto 60px;
    }
    .go-premium-unsubscribe-logo-device{
        height: 390px;
    }

    .go-premium-header-title-options-device {
        font-size: 32px;
    }

    .error-title {
        font-size: 35px;
     }

    .go-premium-success-notification-container {
        height: 320px;
        margin-top: -190px;
    }
}

@media all and (max-width: 640px) {
    .go-premium-button-close-device {
        width: 50px;
        height: 50px;
    }

    .go-premium-container-device {
        padding: 20px;
    }

    .go-premium-text-message-device {
        font-size: 28px;
    }

    .go-premium-body-title-device {
        font-size: 45px;
        margin: 30px auto 20px;
    }

    .go-premium-button-device {
        padding: 25px;
        font-size: 30px;
        border-radius: 40px;
    }

    .go-premium-unsubscribe-banner-device {
        margin-top: 20px;
        width: 142px;
        height: 228px;
    }

    .go-premium-body-button-up {
        margin: 30px 50px 0 50px;
    }

    .go-premium-header-title-device {
        font-size: 34px;
        line-height: 120%;
    }

    .go-premium-header-logo-device {
        width: 140px;
        height: 140px;
    }

    .go-premium-success-salutation-container-device {
        margin-top:-360px;
    }
    .go-premium-success-ad-text-1-device {
        padding: 12px;
        font-size: 50px;
    }
    .go-premium-success-ad-text-2-device {
        padding: 8px;
        font-size: 50px;
    }
    .go-premium-success-salutation-device {
        font-size: 50px;
        padding: 10px;
    }
    .go-premium-success-salutation-title-1-device {
        font-size: 40px;
        padding: 12px;
    }
    .go-premium-success-salutation-title-2-device {
        font-size: 40px;
        padding: 8px;
    }
    .go-premium-success-close-button-container-device {
        margin-top:20px;
    }
    .go-premium-unsubscribe-title-device{
        font-size: 32px;
        margin: 30px auto 30px;
    }
    .go-premium-unsubscribe-logo-device{
        height: 310px;
    }

    .subscription_header_block_device{
        margin: 18px 18px 0;
        padding: 10px;
    }

    .subscription_premium_logo_device{
        height: 70px;
    }

    .subscription_pass_logo_device{
        height: 64px;
    }

    .subscription_option_container_device{
        margin: 18px 18px 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .subscription_option_price_message_device{
        font-size: 22px;
        margin: 28px auto 28px;
    }

    .subscribe-button-device{
        margin: 0 40px 0;
        padding: 18px 0 18px 0;
        border-radius: 50px;
        font-size: 22px;
    }

    .error-title {
        font-size:35px;
    }

    .go-premium-success-notification-container {
        height: 300px;
        margin-top: -180px;
    }

    .pin-code {
        width: 300px;
        height: 75px;
        margin: 30px auto;
    }

    .pin-code-digit {
        font-size: 45px;
    }
}

@media all and (max-width: 480px) {

    .go-premium-header {
        margin-top: 15px;
    }

    .go-premium-button-close-device {
        width: 28px;
        height: 28px;
        margin: 22px 18px 18px;
    }

    .go-premium-container-device {
        padding: 10px;
    }

    .go-premium-text-message-device {
        font-size: 16px;
        line-height: 100%;
    }

    .go-premium-body-title-device {
        font-size: 28px;
        margin: 26px auto 18px;
    }

    .go-premium-unsubscribe-title-device{
        font-size: 24px;
        margin: 26px auto 26px;
    }

    .go-premium-button-device {
        padding: 14px 60px 14px 60px;
        font-size: 20px;
        border-radius: 40px;
    }

    .go-premium-unsubscribe-banner-device {
        margin-top: 10px;
        width: 78px;
        height: 125px;
    }

    .go-premium-unsubscribe-logo-device{
        height: 240px;
    }

    .go-premium-body-button-up {
        margin: 20px 20px 0 20px;
    }

    .go-premium-body-button-below {
        margin: 20px 20px 0 20px;
    }

    .go-premium-success-button-get-listening{
        margin-top: 35px;
    }

    .go-premium-header-title-device {
        font-size: 22px;
        line-height: 110%;
    }

    .go-premium-header-logo-device {
        width: 130px;
        height: 130px;
    }

    .go-premium-text-message-wrapper-device {
        width: 90%;
        margin: 0 auto 30px;
    }

    .go-premium-success-salutation-container-device {
        margin-top:-230px;
    }
    .go-premium-success-ad-text-1-device {
        padding: 4px;
        font-size: 20px;
    }
    .go-premium-success-ad-text-2-device {
        padding: 4px;
        font-size: 20px;
    }
    .go-premium-success-salutation-device {
        padding: 7px;
        font-size: 28px;
    }
    .go-premium-success-salutation-title-1-device {
        padding: 5px;
        font-size: 20px;
    }
    .go-premium-success-salutation-title-2-device {
        padding: 5px;
        font-size: 20px;
    }
    .go-premium-success-ad-container-device {
        margin-top:130px;
    }
    .go-premium-success-close-button-container-device {
        margin-top:10px;
    }

    .subscription_header_block_device{
        margin: 13px 13px 0;
        padding: 8px;
    }

    .go-premium-header-logo-device{
        width: 97px;
        height: 97px;
    }

    .go-premium-header-ad{
        padding-left: 26px;
    }

    .go-premium-header-title-device {
        font-size: 26px;
        line-height: 120%;
    }

    .go-premium-header-title-options-device {
        font-size: 23px;
        line-height: 120%;
    }

    .subscription_option_container_device{
        margin: 13px 13px 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .subscription_premium_logo_device{
        height: 56px;
    }

    .subscription_option_price_message_device{
        font-size: 17px;
        margin: 20px auto 20px;
    }

    .subscribe-button-device{
        margin: 0 40px 0;
        padding: 15px 0 15px 0;
        border-radius: 40px;
        font-size: 20px;
    }

    .subscription_pass_logo_device{
        height: 52px;
    }

    .error-title {
        font-size: 18px;
    }

    .error-description {
        margin: 30px auto 30px auto;
    }

    .go-premium-success-notification-container {
        height: 240px;
        margin-top: -145px;
    }

    .pin-code {
        width: 200px;
        height: 50px;
        margin: 20px auto;
    }

    .pin-code-digit {
        font-size: 30px;
    }
}

@media all and (max-width: 400px){

    .go-premium-unsubscribe-title-device{
        font-size: 20px;
        margin: 24px auto 24px;
    }

    .go-premium-unsubscribe-logo-device{
        height: 210px;
    }

    .subscription_header_block_device{
        margin: 11px 11px 0;
        padding: 5px;
    }

    .go-premium-header-logo-device{
        width: 80px;
        height: 80px;
    }

    .go-premium-header-ad{
        padding-left: 22px;
    }

    .go-premium-header-title-device {
        font-size: 22px;
        line-height: 120%;
    }

    .go-premium-header-title-options-device {
        font-size: 20px;
        line-height: 120%;
    }

    .subscription_option_container_device{
        margin: 11px 11px 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .subscription_premium_logo_device{
        */
/*width: 210px;*//*

        height: 46px;
    }

    .subscription_option_price_message_device{
        font-size: 15px;
        margin: 16px auto 16px;
    }

    .subscribe-button-device{
        margin: 0 33px 0;
        padding: 13px 0 13px 0;
        border-radius: 36px;
        font-size: 19px;
    }

    .subscription_pass_logo_device{
        height: 42px;
    }

    .go-premium-success-notification-container {
        height: 193px;
        margin-top: -118px;
    }
}

@media all and (max-width: 360px) {

    .go-premium-unsubscribe-logo-device{
        height: 175px;
    }

    .go-premium-unsubscribe-title-device{
        font-size: 18px;
        margin: 22px auto 22px;
    }

    .go-premium-header {
        margin-top: 10px;
    }

    .go-premium-success-ad-container-device {
        margin-top:125px;
    }

    .go-premium-success-button-get-listening{
        margin-top: 35px;
    }

    .subscription_header_block_device{
        margin: 10px 10px 0;
    }

    .go-premium-header-logo-device{
        width: 73px;
        height: 73px;
    }

    .go-premium-header-ad{
        padding-left: 20px;
    }

    .go-premium-header-title-device {
        font-size: 20px;
    }

    .go-premium-header-title-options-device {
        font-size: 18px;
    }

    .subscription_option_container_device{
        margin: 10px 10px 0;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .subscription_premium_logo_device{
        height: 42px;
    }

    .subscription_option_price_message_device{
        font-size: 14px;
        margin: 15px auto 15px;
    }

    .subscribe-button-device{
        margin: 0 30px 0;
        padding: 12px 0 12px 0;
        border-radius: 30px;
        font-size: 17px;
    }

    .subscription_pass_logo_device{
        height: 38px;
    }
}

@media all and (max-width: 320px) {
    .go-premium-button-close-device {
        width: 22px;
        height: 22px;
        margin: 5px;
        background: url(../imgs/icon_close_36.png) no-repeat center;
        background-size: 96%;
    }

    .go-premium-container-device {
        padding: 10px;
    }

    .go-premium-text-message-device {
        font-size: 16px;
        line-height: 100%;
    }

    .go-premium-body-title-device {
        font-size: 20px;
        margin: 24px auto 6px;
    }

    .go-premium-button-device {
        padding: 12px;
        font-size: 16px;
        border-radius: 24px;
    }

    .go-premium-unsubscribe-banner-device {
        margin-top: 16px;
        margin-bottom: 0px;
        width: 62px;
        height: 100px;
    }

    .go-premium-unsubscribe-logo-device{
        height: 160px;
    }

    .go-premium-unsubscribe-title-device{
        font-size: 17px;
        margin: 20px auto 20px;
    }

    .go-premium-body-button-up {
        margin: 13px 26px 0 26px;
    }

    .go-premium-body-button-below {
        margin: 13px 26px 0 26px;
    }

    .go-premium-success-button-get-listening{
        margin-top: 38px;
    }

    .go-premium-header-title-device {
        font-size: 20px;
        line-height: 120%;
    }

    .go-premium-header-logo-device {
        width: 90px;
        height: 90px;
    }

    .go-premium-text-message-wrapper-device {
        width: 100%;
        margin: 0 auto;
    }

    .go-premium-success-salutation-container-device {
        margin-top:-180px;
    }
    .go-premium-success-ad-text-1-device {
        font-size: 16px;
        padding: 2px;
    }
    .go-premium-success-ad-text-2-device {
        font-size: 16px;
        padding: 2px;
    }
    .go-premium-success-salutation-device {
        font-size: 20px;
        padding: 6px;
    }
    .go-premium-success-salutation-title-1-device {
        font-size: 16px;
        padding: 4px;
    }
    .go-premium-success-salutation-title-2-device {
        font-size: 16px;
        padding: 4px;
    }
    .go-premium-success-ad-container-device {
        margin-top:105px;
    }
    .go-premium-success-close-button-container-device {
        margin-top:20px;
        margin-left:20px;
    }

    .subscription_header_block_device{
        padding: 2px;
    }

    .go-premium-header-logo-device{
        width: 68px;
        height: 68px;
    }

    .go-premium-header-title-device {
        font-size: 19px;
    }

    .go-premium-header-title-options-device {
        font-size: 17px;
    }

    .subscription_option_container_device{
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .subscription_option_price_message_device{
        font-size: 13px;
        margin: 14px auto 14px;
    }

    .subscription_premium_logo_device{
        height: 36px;
    }

    .subscription_pass_logo_device{
        height: 35px;
    }

    .subscribe-button-device{
        margin: 0 28px 0;
        padding: 8px 0 8px 0;
        border-radius: 24px;
        font-size: 15px;
    }

    .error-title {
        font-size: 15px;
    }

    .error-description {
        margin: 25px auto 25px auto;
    }

    .go-premium-success-notification-container {
        height: 165px;
        margin-top: -100px;
    }
}

@media all and (max-width: 240px) {
    .go-premium-button-close-device {
        width: 20px;
        height: 20px;
        margin: 0;
    }

    .go-premium-container-device {
        padding: 10px;
    }

    .go-premium-text-message-device {
        font-size: 11px;
        line-height: 110%;
    }

    .go-premium-body-title-device {
        font-size: 16px;
        margin: 8px auto 8px;
    }

    .go-premium-button-device {
        padding: 4px;
        font-size: 14px;
        border-radius: 20px;
    }

    .go-premium-unsubscribe-banner-device {
        margin-top: 0;
        width: 36px;
        height: 57px;
    }

    .go-premium-body-button-up {
        margin: 8px 50px 0 50px;
    }

    .go-premium-body-button-below {
        margin: 8px 50px 0 50px;
    }

    .go-premium-header-title-device {
        font-size: 16px;
        line-height: 120%;
    }

    .go-premium-header-logo-device {
        width: 70px;
        height: 70px;
    }

    .go-premium-text-message-wrapper-device {
        width: 100%;
        margin: 0 auto;
    }


    .go-premium-success-salutation-container-device {
        margin-top:-125px;
    }
    .go-premium-success-ad-text-1-device {
        font-size: 10px;
        padding: 2px;
    }
    .go-premium-success-ad-text-2-device {
        font-size: 10px;
        padding: 2px;
    }
    .go-premium-success-salutation-device {
        font-size: 14px;
        padding: 2px;
    }
    .go-premium-success-salutation-title-1-device {
        font-size: 12px;
        padding: 2px;
    }
    .go-premium-success-salutation-title-2-device {
        font-size: 12px;
        padding: 2px;
    }
    .go-premium-success-ad-container-device {
        margin-top:65px;
    }
    .go-premium-success-close-button-container-device {
        margin-top:10px;
        margin-left:10px;
        width: 60%;
    }

    .subscription_header_block_device {
        margin: 8px 8px 0;
        padding: 4px;

    }

    .go-premium-header-logo-device {
        width: 50px;
        height: 50px;
    }

    .go-premium-header-ad {
        padding-left: 13px;
    }

    .go-premium-header-title-device {
        font-size: 13px;
    }

    .go-premium-header-title-options-device {
        font-size: 12px;
    }

    .subscription_option_container_device {
        margin: 8px 8px 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .subscription_premium_logo_device {
        height: 30px;
    }

    .subscription_option_price_message_device {
        font-size: 9px;
        margin: 10px auto 10px;
    }

    .subscribe-button-device {
        margin: 0 20px 0;
        padding: 8px 0 8px 0;
        border-radius: 20px;
        font-size: 11px;
    }

    .subscription_pass_logo_device {
        height: 27px;
    }
    .go-premium-unsubscribe-title-device{
        font-size: 12px;
        margin: 8px auto 8px;
    }
    .go-premium-unsubscribe-logo-device{
        height: 120px;
    }

    .error-title {
        font-size: 12px;
    }

    .error-description {
        margin: 20px auto 20px auto;
    }

    .go-premium-success-notification-container {
        height: 120px;
        margin-top: -72px;
    }

    .pin-code {
        width: 120px;
        height: 30px;
        margin: 15px auto;
    }

    .pin-code-digit {
        font-size: 25px;
    }
}
*/

.go-premium-first-half {
    width: 100%;
    height: 50%;
    background-color: #19f3cd;
}
.go-premium-second-half {
    width: 100%;
    height: 50%;
}
.go-premium-success {
    padding: 0 !important;
    height: 100%;
}
.go-premium-success-avatar-container {
    width: 100%;
    height: 30%;
    /*top: 35%;*/
    top: 32%;
    position: absolute;
}
.go-premium-success-ad {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    text-align: center;
    width: 100%;
    /*top: 32% + 30%; */
    top: 64%;
    position: absolute;
    font-size: 1.1em;
}
.go-premium-success-salutation {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
}
.go-premium-button-close-salutation {
    margin-left:5%;
    position: absolute;
}
