body {
    height: 100%!important;
    margin: 0;
}
html {
    height: 100%!important;
}
.page {
    height: 100%;
}
@font-face {
    font-family: 'FuturaSB-BoldItalic';
    src: url('../fonts/FuturaSB-BoldItalic.ttf');
}
@font-face {
    font-family: 'NimbusSanTOTLig';
    src: url('../fonts/NimbusSanTOT-Lig.otf');
}
body {
    font-family: 'FrutigerRegular', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}
.cookie_conteiner {
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}


.root-container {
    padding: 5% 5% 0 5%;
}

.page-container {
    padding: 0 5% 0 5%;
    height: 100%;
    position: absolute;
}

.root-container-selection {
    background: url(../imgs/bgs/coming_soon.png) no-repeat top left;
    background-size: cover;
    height: 100%;
}

.container-option {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
}

.container-root-logo {
    display: table;
}

.go-premium-header {
    display: table;
    height: 20%;
    width: 100%;
}
.go-premium-header-logo {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}
.go-premium-header-logo-img {
    height: 30%;
}
.go-premium-header-ad {
    display: table-cell;
    vertical-align: middle;
}
.go-premium-header-title {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
}
.go-premium-header-title-options {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
}
.center-container {
    text-align: center;
}
.header {
    background-color: #000;
}
.header1 {
    font-family: 'FuturaSB-BoldItalic', Sans, sans-serif;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    padding: 0.15em;
}
.header2 {
    font-family: 'FuturaSB-BoldItalic', Sans, sans-serif;
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    padding: 0.15em;
}
.message {
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
    text-align: center;
}
.error {
    color: #DE3D16;
    font-size: 0.7em;
}
.notification {
    font-size: 0.7em;
}
.message-terms-and-conditions {
    font-size: 0.8em;
}

.error-logo {
    width: 35%;
    margin: 0 auto;
    display: block;
}
.holding-logo {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.holding-logo-app {
    width: 35%;
    margin: 0 auto 5%;
    display: block;
}
.payment-logo {
    width: 40%;
    margin: 2% auto;
    display: block;
}
.premium-logo {
    height: 100%;
    margin: 0 auto;
    display: block;
}
.vf-nav-header {
    width: 100%;
    margin: 5% 0;
    height: 5%;
    text-align: right;
    background: url(../imgs/vf_roundel_icon.png) no-repeat center;
    background-size: contain;
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
}

.premium-logo-container {
    height: 30%;
}
.success-logo {
    display: block;
}

.holding-header {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/*
Buttons
*/
.go-premium-button {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 10px auto 5px;
    color: black;
}
.go-premium-button-device {
    padding: 10px;
    border-radius: 20px;
    width: 60%;
}
.go-premium-button-target:active {
    opacity: 0.5;
}
.go-premium-body-ok {
    background-color: #19f3cd;
    border: 1px solid #19f3cd;
}
.go-premium-body-cancel {
    background-color: #fff;
    border: 1px solid #000;
}
.go-premium-button-close {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5%;
}


.mobile-input {
    font-family: 'NimbusSanTOTLig', Sans, sans-serif;
    text-align: center;
    background-color: transparent;
    border: 0 solid;
    border-bottom-width: 1px;
    width:100%;
}
.mobile-input-error {
    border-color: #ff0000;
    color: #ff0000;
}
.mobile-input-wrapper {
    margin: 20px auto 5px;
    width: 70%;
}
.mobile-input:focus {
    outline: 0;
}

.pin-code-wrapper {
    width: 165px;
    background-color: #000;
    margin: 10px auto;
    clear:both;
}
.pin-code-wrapper-error {
    width: 165px;
    background-color: #DE3D16;
    margin: 10px auto;
    clear:both;
}
.pin-code-digit {
    text-align: center;
    width: 40px;
    height: 40px;
    border: 0 solid;
    margin-top: 1px;
    margin-bottom: 1px;
}
.pin-code-digit-1 {
    float:left;
    margin-left:1px;
}
.pin-code-digit-2 {
    float:left;
    margin-left:1px;
}
.pin-code-digit-3 {
    float:left;
    margin-left:1px;
}
.pin-code-digit-4 {
    margin-left:1px;
    margin-right:1px;
}

.go-premium-first-half {
    width: 100%;
    height: 50%;
    background-color: #19f3cd;
}
.go-premium-second-half {
    width: 100%;
    height: 50%;
}
.go-premium-success {
    padding: 0 !important;
    height: 100%;
}
.go-premium-success-avatar-container {
    width: 100%;
    height: 30%;
    /*top: 35%;*/
    top: 32%;
    position: absolute;
}
.go-premium-success-ad {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    text-align: center;
    width: 100%;
    /*top: 32% + 30%; */
    top: 64%;
    position: absolute;
    font-size: 1.1em;
}
.go-premium-success-salutation {
    font-family: 'FuturaSB-BoldItalic', Arial, sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
}
.go-premium-button-close-salutation {
    margin-left:5%;
    position: absolute;
}
