.content {color: #1a0b87; font-size: 12px;}
.wholePart input[type="text"], .wholePart input[type="password"] {width: 250px; height: 29px; border: solid 1px #d0d0d0; background-image: none;}
input[type="image"] { background: none; border: none; box-shadow: none; width: auto;}

/*main layout*/
.oneWideColumn  h2 {font-size: 18px; padding: 0 0 0 3px; margin-top: 29px;}
.oneWideColumn  h1 {color: #d1137d;  font-weight: bold; line-height: 25px; background: transparent url(../imgs/bgs/header.gif) repeat-x left bottom; padding: 11px 0 9px 3px;font-size: 21px; margin-bottom: 8px; margin-left: 67px; margin-right: 40px;}
.oneWideColumn  p {margin-left: 0px; margin-top: 7px; margin-bottom: 14px;}
.oneWideColumn  p.note {margin-left: 0px; margin-top: 0px; margin-bottom: 16px;} 
.verticalSpace {height: 50px;}
.verticalSpaceMiddle {height: 39px;}
.verticalSpace2 {height: 22px;}
.verticalSpaceHuge {height: 60px;}
.mainAccContent a {color: #2d3092; text-decoration: underline;}
.wholePart {position: relative;}

/*top part*/
.authorization  {width: auto; text-align: right; margin-right: 10px; margin-top: 6px;}
.signOut  {float: right; margin-right: 20px;}
.signOut a {float: right; height: 26px; width: auto; color: #656364; background: #fff url(../imgs/icons/signout.png) no-repeat 0px 5px; line-height: 25px;  padding-left: 25px; margin-bottom: 10px;}
.signOut a:hover {color: #4d4b4c; } 
.signOut strong  {display: block; margin-bottom:  2px; font-size: 14px;}
.menu {width: auto; margin: 95px 10px 0 0; }
.menu a:link {margin: 0 10px;}

/*center content part*/
.contentContainer { min-height: 356px;}
.oneWideColumn {width: 940px; margin: 0 auto; background-color: #fff; background-image: none; padding-top: 7px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95); opacity:0.95; -moz-opacity: 0.95; -khtml-opacity: 0.95;  }
.leftColumn  {width: 540px; min-height: 253px; margin: 1px 0 0 67px; padding-right: 20px;}
.appBoxes  {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); opacity:1.0; -moz-opacity: 1.0; -khtml-opacity: 1.0;  }
.appBox {min-height: auto;  height: 255px; border: soldi 1px red;}
.appBoxes{background: #fff url(../imgs/bgs/bluebox.png) repeat-x left top; }
.homeAccount {margin-top: 8px !important;}
.subscription {margin-top: 10px;}

/*block with list of 'getApp' links*/
.rightColumn  {width: 245px; min-height: 180px; background: #fff; margin-top: 5px; margin-right: 39px;}
.getAppBoxHeader {height: 30px; color: #fff; text-transform: capitalize; font-weight: bold; line-height: 30px; background: #57cbf7 url(../imgs/bgs/chartappbox.png) repeat-x left bottom; border-bottom: solid 1px #0b85b3; padding-left: 10px; -moz-border-radius: 7px 7px 0 0; -webkit-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0;}
.getAppBoxList {height: 153px; border: solid 1px #f0f0f0; border-top: none; -moz-border-radius: 0 0 7px 7px; -webkit-border-radius: 0 0 7px 7px; border-radius: 0 0 7px 7px; -webkit-box-shadow: 0 2px 2px #d6d6d6; box-shadow: 0 2px 2px #d6d6d6; -moz-box-shadow: 0 2px 2px #d6d6d6;}
.getAppLink {height: 36px; line-height: 30px; background: #f4f3f3 url(../imgs/bgs/chartappbox_oneitem.png) repeat-x left bottom; border: solid 1px #ffffff; border-bottom: solid 1px #e2e2e2; padding-left: 0px;}
.getAppLink  a:link  {height: 36px; display: block; color:#7b7b7b; font-size: 14px; line-height: 36px; font-weight: normal; text-decoration: none; padding-left: 40px; text-transform: capitalize; }

/*icons for app*/
.iPhoneApp {background: transparent url(../imgs/icons/apple.png) no-repeat 10px 6px; text-transform: none;}
.androidApp {background: transparent url(../imgs/icons/android.png) no-repeat 11px 7px;}
.blackberryApp {background: transparent url(../imgs/icons/blackberry.png) no-repeat 10px 10px;}
.sendToMyMobile {background: transparent url(../imgs/icons/send_to_my_mobile.png) no-repeat 12px 7px;}

/*main account content area*/
.mainAccContent  {min-height: auto; background:#e2ddda url('../imgs/bgs/content_bottom.png') no-repeat right bottom;}
.mainAccContent .oneWideColumn  {width: 980px; min-height: 1230px; background-color: #fff; background-image: none; padding-top: 2px; -webkit-box-shadow: 0 -2px 2px #dfdfde; -moz-box-shadow: 0 -2px 2px #dfdfde; box-shadow: 0 -2px 2px #dfdfde; -moz-border-radius: 0 0 7px 7px; -webkit-border-radius: 0 0 7px 7px; border-radius: 0 0 7px 7px; opacity: 1.0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.mainAccContent h1 {font-size: 18px; padding-bottom: 5px;padding-top: 15px;margin-bottom: 6px;}
.mainAccContent .leftColumn {width: 870px; min-height: 52px;}

/*account details*/
.oneLine {float:left; margin-bottom: 7px; margin-left: 1px;}
.nameCell {width: 140px; float: left; text-transform: capitalize;}
.valueCell {min-width: 100px; float: left;}
.valueCellLong {width: 520px; float: left;}
.buttonCell {width: 200px; float:left; margin-top: -5px; margin-bottom: -8px;}
.buttonCellAddSpace {margin-top: 0px; margin-right: -20px;}
.oneLine a {color: #1b6db6; text-decoration: underline;}
.process {padding-top: 20px;}

/*account left*/
.leftPart {width: 560px; margin-top: 8px;  background: transparent  url('../imgs/bgs/bottom_left.png') no-repeat right bottom; padding-bottom: 30px;}
.boxWithBorder .leftPart h2, .boxWithBorder .rightPart h2, .boxWithBorder .wholePart  h2 {margin-bottom: 5px; margin-left: -3px;}
.details {margin: 28px 38px 50px 38px; min-height: 200px;}
.phoneRightBg {background: transparent  url('../imgs/pics/phones_on_the_right.jpg') no-repeat 460px 30px;}
.noBg {background-image: none !important;}
.InfoSpecialOffer {top: 15px; left: 497px;}
.pictureSpecialOffer {top: -4px; left: 0px; z-index: 0;}
.accountOverview {top: -27px; left: 5px; z-index: 10;}

/*accountRight*/
.rightPart { width: 290px; margin-top: 8px;  background: transparent  url('../imgs/bgs/left_devider.png') no-repeat left bottom; padding-bottom: 0px; margin-left: 39px;}
.rightPart .details {background-image: none;}
.rightPart .buttonBox {width: 273px;}

/*account Change*/
.oneInputsGroup {padding: 13px 0 21px 0; margin-bottom: 16px;background: url("../imgs/bgs/form_devider.png") no-repeat scroll center bottom transparent; }
.oneBoxContent {background: #b9b9b9  url('../imgs/bgs/box_inner.png') repeat-x right bottom; }
.oneInputLine {}
.oneInputsGroup .nameCell {width: 140px;} 
.oneInputLine .nameCell {line-height: 30px;}
.additionalInfo {width: 318px; left: 435px; top: -24px; height: 62px;}
.additionalInfo img {left: -21px; top: 25px;}
.additionalInfo p {margin: 0; line-height: 20px;}
.box5 {width: 390px; top: 14px;}
.box5 img {position: absolute;left: -21px; top: 25px;}
.details .errorBox {width: 345px;}
.details .errorBoxContainer {margin-top: -45px;}
.holderDetails .errorBoxContainer {margin-top: -2px;}
.details .contactBoxError {margin-top: -20px; margin-left: 140px;}
/*history mod*/
.historyBox .valueCell, .payDetails .valueCell {width: 600px;}
.valueCell select {width: 140px;}
.historyBox a {width: auto;}

/*account button*/
.mainAccContent .buttonShadow {width: 192px; height: 25px;}
.mainAccContent .buttonBox {width: 192px; background-position:  left -3px;}
.mainAccContent .buttonContent {padding: 3px 0 4px 0; max-width: inherit; overflow: hidden;}
.mainAccContent .button {font-size: 15px !important; font-weight: normal !important; line-height: 18px !important;text-transform: capitalize;}

/*button in table*/
.mainAccContent .table .buttonShadow {width: 145px; height: 20px;}
.mainAccContent .table  .buttonBox {width: inherit; height: inherit; background-position:  left -3px; line-height: 20px;}
.mainAccContent .table  .buttonContent {padding: 0px 0 0px 0; max-width: inherit; overflow: hidden;}
.mainAccContent .table  .button {font-size: 14px; font-weight: normal; text-transform: capitalize;}

/*button in pay details*/
.buttonNext {margin-left: 0px;}
.buttonNext .buttonShadow, .buttonNext .buttonBox {width: 188px; height: 31px;}
.mainAccContent  h2 {margin-left: 67px;}
.mainAccContent  .shortBut, .mainAccContent .shortBut .buttonBox  {width: 70px;}
.mainAccContent  .middleBut, .mainAccContent .middleBut .buttonBox  {width: 118px;}

.smsBox {}
.smsBox .buttonShadow, .pinInfo .buttonShadow  {width: 188px; margin-left: 140px;}
.smsBox .buttonShadow .buttonBox, .pinInfo .buttonShadow .buttonBox {width: 188px; height: inherit;}
.smsBox .errorBoxContainer {margin-top: -11px; margin-left: 140px; margin-bottom: 5px;}
.smsBox .errorBox {width: 134px;}
.smsBox input {width: 178px;}
.pinInfo  .buttonShadow {margin-left: 215px; margin-top: 14px;}

.deactivateBox {width: 400px;}
.deactivateBox textarea {height: 235px; width: 390px; margin-bottom: 0px;}
.deactivateBox .buttonContent {}
.width273  {width: 273px;}

/*pin box*/
.pinInfo {position: absolute; top: 0px; left: 530px; height: 260px; background: transparent url(../imgs/pics/pin.jpg) no-repeat 20px 50px; }
.pinInfo p {font-size: 11px; margin: 100px 0 0 140px; width: 270px;}
.pinInfo .errorSign {float: left; margin-right: 15px;}

/*second part of content*/
.widerContainer {margin: 0 -10px; background-color: #fff;}
.boxWithBorder {border: solid 1px #8d8d8b; border-top: solid 1px #6b6b6d; margin-top: -10px;  box-shadow: 1px 3px 2px #b7b3b0; -webkit-box-shadow: 1px 3px 2px #b7b3b0; -moz-box-shadow:  1px 3px 2px #b7b3b0; padding-bottom: 50px;}
.boxWithBorder h2 {margin: 20px 0 17px 37px;}
.lessBottomPad {padding-bottom: 31px;}

/*tabs for account pages*/
.tabs  {height: 59px; width: 80%; overflow: hidden; margin: 0 auto;}
.tabs ul {position: relative; width: 100%;}
.tabs ul li {background:  transparent url("../imgs/bgs/tab.png") repeat-x left top; border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; box-shadow: 0 8px 6px -10px #E2DFDF inset; display: block; float: left; width:33%; height: 59px; line-height: 49px; margin: 0 2px 0 0; padding: 0; text-align: center;}
.tabs ul li.current, .tabs ul li:hover {background: transparent url(../imgs/bgs/tab_active.png) repeat-x left top; box-shadow: inset 0 8px 6px -10px  #4d4d93; }


.tabs ul li.firstItem {}
.tabs ul li.secondItem {}
.tabs ul li.thirdItem {}
.tabs ul li.forthItem {}
.tabs ul li.lastItem {}
.tabs ul li a {margin: 0 auto; width:1%;}

.tabs a {color: #fff; text-decoration: none; display: inline-block; height: 59px; font-size: 14px; display: table-cell; }
.tabs ul li.lastItem  a {}
.tabs a:hover  {color: #fff; text-decoration: none; }
.tabs li.current a{background:  transparent  url("../imgs/bgs/tab_link_current.png") no-repeat center bottom;}

/*payment methods types*/
.methodsBox  {padding-left: 3px; height: 205px;}
.methodsBox a, .methodsBox .greyInnerText, .methodsBox .greenInnerText, .methodsBox .blueInnerText{float:left; margin-right; 63px; display: inline-block; text-decoration: none;}
.methodsBox div  span {text-decoration: none; }
.infoSign {position: absolute; top: 0px; left: 210px;}
.methodsBox .oneMethodBox {float:left; width:290px; height:213px;}

.methodsBox .greyInnerText span {color: #747373;}
.methodsBox .greenInnerText span {color: #66a72e;}
.methodsBox .blueInnerText span {color: #033c7a;}

.price {width: 60px; font-size: 40px; text-align: center; top: 98px; left: 6px; line-height: 13px;}
.price  span {font-size: 11px;}
.payBy  {width: 150px; font-size: 16px; text-align: left; top: 88px; left: 83px; line-height: 22px;}
.payBy  span {font-size: 17px;}
.price span.cents {font-size: 12px; font-weight: bold;}

/*new payment methods types*/
.newMethodsBox {}
.newMethodsBox .formContainer  {height: 65px;}
.newMethodsBox .formContainer div {height: 62px; width: 80px; float:left;}
.newMethodsBox div input {height: 22px; width: 55px; margin-top: 42px;}
.visaElectron {background: transparent url(../imgs/icons/paymethods/visa_el.png) no-repeat left top;}
.visaDebit {background: transparent url(../imgs/icons/paymethods/visa_d.png) no-repeat left top;}
.ucb {background: transparent url(../imgs/icons/paymethods/ucb.png) no-repeat left top;}
.visa {background: transparent url(../imgs/icons/paymethods/visa.png) no-repeat left top;}
.maestro {background: transparent url(../imgs/icons/paymethods/maestro.png) no-repeat left top;}
.newMethodsBox .formContainer  .paypal {background: transparent url(../imgs/icons/paymethods/paypal.png) no-repeat left top; width: 95px;}
.newMethodsBox .formContainer  .sms {background: transparent url(../imgs/icons/paymethods/sms.png) no-repeat left top; width: 95px;}
.newMethodsBox .paypal  input {width: 90px;}
.newMethodsBox .sms input  {width: 65px;}

/*footer*/
.footerContainer {height: 280px; opacity: 1.0;}
.footer {width: 980px; height: 280px; color: #d1137d;}
.signUpForNewsBox , .linksBox{width: 325px; margin-left: 10px;}
.captionSignUp {display: block; margin: 18px 0 8px 0;}
.signUpForNewsBox  input {width: 244px; border-top: solid 1px #c3c1c1; border-left: solid 1px #c3c1c1; float: left; background-color: #eeeceb;-moz-box-shadow: inset 0px 1px 1px #e0dedd; -webkit-box-shadow: inset 0px 1px 1px #e0dedd; box-shadow: inset 0px 1px 1px #e0dedd; height: 28px;-moz-border-radius: 7px 0 0 7px; -webkit-border-radius: 7px 0 0 7px; border-radius: 7px 0 0 7px; }
.signUpForNewsBox  a.submitLink {text-decoration: none; height: 30px; width: 69px; float: right; background: #a6a5a5 url('../imgs/bgs/signup.png') no-repeat right bottom; color: #fff; line-height: 30px; font-size: 14px; text-align: center; font-weight: bold;}
.linksBox a.outerLink {font-size: 14px; display: block; margin-top: 13px; color: #d1137d;}
.linksBox  a.termsLink {font-size: 14px; color: #d1137d; margin-top: 0px; display: inline-block; border: none; }

.socialFooterBox  {width: auto; margin: 13px 10px 0 0; text-align: right;}
.socialPagesSet {margin: 0 0 0 5px;}

/* contact us*/
.error {font-size: 10px; color: #ff0000; display: none;}

/* faq*/
.faqBox {width: 760px; margin-right: 30px;}
.oneQuestion {margin-bottom: 16px;}
.oneQuestion  h2 {padding-left: 0; margin: 9px 0 0 0;}
.oneQuestion p {font-size: 12px; color: #616161;}
.oneQuestion h2 a, .oneQuestion h2  {color: #1a0b87; font-size: 16px; text-decoration: none; cursor: pointer;}
.navFaqBox {width: 245px; }
.navFaqBox  h3  {color: #d1137d; font-size: 14px; margin: 9px 0 16px 10px; }
.quickLinks {line-height: 16px;}
.quickLinks  li {margin-bottom: 6px; font-size: 11px;}
.quickLinks  li a {color: #4d4b4c; text-decoration: none;}

/*pay card flow*/
.payDetails {margin-left: 0px; }
.holderDetails {}
.block1 {padding-left: 3px;}
.payDetails h2 {margin-top: 0; margin-bottom: 17px; font-size: 16px;}
.payDetails h3, .summary  h3 {font-size: 12px;  margin-bottom: 10px; font-weight: normal;}
.oneWideColumn   h2.zeroTop {margin-top: 0px;}
.payDetails .errorSign {height: 30px;}
.payDetails  input, .payDetails   select {margin-bottom: 7px; height: 25px; background-image: none;}
.payDetails  select { display: inline-block;}
.payDetails  select {height: auto; width: auto;}
.payDetails .nameCell {line-height: 25px;}
.payDetails .doubleLines {line-height: 15px;}
.payDetails .nameCell span {font-size: 9px; display: block; margin-top: -3px;}

#payPalDto input {width: 145px; height: 42px;  background: none; border: none; box-shadow: none; width: auto; margin-top: 20px;}

.infoHelp  {cursor: pointer;}
.holderDetails {margin-top: 25px;}
.holderDetails select {width: 140px;}
.buttonNext {padding-top: 13px;}
.payCardStep2 h2 {margin-top: 3px; margin-bottom: -3px;}
.payCardStep2 h3 {font-weight: bold; font-size: 14px; margin-bottom: 7px;margin-top: 15px;}
.payCardStep2  p {margin-top: 0px;}
.oneWideColumn  .payCardStep2  h2 {padding-left: 0; padding-bottom: 5px; }
.payDetails .shortInput input {width: 47px !important;}
.buttons {height: 49px; margin-top: -8px;}
.buttons input.button, button {height: 31px; line-height: 20px; width: inherit; color: #fff;}
.buttons .buttonShadow {left: 85px; top: 20px; left: 139px; width: 260px;}
.buttons .shortBut {left: 0; width: 90px !important; }
.buttons .buttonBox {width: 260px}
.buttons  .buttonContent {width: inherit;}
.buttons .shortBut .buttonContent {}
.buttons .shortBut .buttonBox {width: 100%;}
.buttons .button190, .button190 {width: 190px;}
.buttons .button190 .button190, .button190 .button190   {width: 190px;}
.buttons .button190 .buttonContent {}
.summary  h3  {margin-top: 16px; margin-bottom: 3px;}
.summary .oneLine {width: 800px; margin-bottom: 1px;}
.summary .buttons .shortBut .buttonContent {}
.summary {margin-top: 5px;}
.summary .nameCell {width: 160px;}
.summary .errorSign {height: 28px; margin-top: -3px; margin-left: 10px;}
.summary .errorBox {width: 255px; margin-top: 30px;}

/*sms subscription*/
.smsImg {margin-top: 18px;}
.smsSubscrition p {padding-left: 0; margin-left: 0;}
.smsSubscrition input {width: 205px;}

/*go to app market*/
.oneWideColumn  h1.azHeader {font-size: 24px; color: #d1137d; background-image: none; margin: 8px 0px 20px 30px; padding-top: 2px; padding-bottom: 0;}
.oneWideColumn  h1.azHeader  span {font-size: 14px; color: #2e3193; display: block; margin-top: 4px; font-weight: bold;}
.appBoxes {height: 269px; overflow: hidden; width: 880px; margin-left: 38px;  -webkit-box-shadow: 0 2px 2px #bdb8bc; box-shadow: 0 2px 2px #bdb8bc; -moz-box-shadow: 0 2px 2px #bdb8bc;}
.appBoxesContainer {width: 200px; padding: 0 20px 0 20px; background: #2d3092 url(../imgs/bgs/bluebox.png) repeat-x left top;  height: 269px;}
.appBoxes h2 {font-weight: bold; font-size: 16px; color: #fff; margin-top: 16px; margin-left: 0px;}
.phonesBox h2 {margin-left: 20px;}
.appBoxes p{color: #fff; margin-top: 8px; margin-bottom: 10px; font-size: 12px;}
input.textInputTel {width: 186px; height: 24px; margin-bottom: 5px; margin-top: 11px; font-size: 12px; box-shadow:  1px 2px 2px #333;; -webkit-box-shadow:  1px 2px 2px #333;; -moz-box-shadow:  1px 2px 2px #333; color: #9C9C9C;}
input:focus.textInputTel {color: #000;}
.phonesBox {padding-left: 13px;}

/*thanks you box*/
.thankYouBox {width: 340px; height: 170px; border: solid 2px #bbbbbb; padding: 45px 25px 20px 25px; background-color: #fff; font-size: 12px; color: #1a0b87; -webkit-box-shadow: 5px 5px 15px #bdb8bc; box-shadow: 5px 5px 15px  #bdb8bc; -moz-box-shadow: 5px 5px 15px #bdb8bc; }
.thankYouBox .buttonBox {width: 273px;}	
.thankYouBox p {margin-bottom: 30px;}

/*go to market links*/
.phonesBox {background: url(../imgs/bgs/or.png) no-repeat left top ; padding-left: 25px;}
.phonesBox a { margin: 10px 0 0 21px; width: 130px; height: 100px; display: inline-block; padding-top: 106px; padding-left: 40px; vertical-align: top; font-size: 13px; line-height: 15px; color: #fff; float: left; }
.phonesBox a:hover {text-decoration: none;} 
.phonesBox a:hover  span {text-decoration: underline;} 
.phonesBox a span {display: block; font-size: 16px; font-weight: bold;}
.iphoneImgLink {background: url(../imgs/icons/phone_iphone.png) no-repeat right -5px; }
.phonesBox a.androidImgLink {background: url(../imgs/icons/phone_android.png) no-repeat right top; padding-left: 35px; width: 135px; }
.phonesBox a.androidImgLink  span, .phonesBox a.blackberryLink  span {font-size: 15px;}
.blackberryLink {background: url(../imgs/icons/phone_blackberry.png) no-repeat right top;}

/*app button*/
.appBoxes .buttonShadow {width: 200px; height: 34px; border: none; box-shadow:  none; -webkit-box-shadow:  none; -moz-box-shadow:  none;}
.appBoxes .buttonBox {border: none; width: 100%; float: none; margin-top: 0; background: #3ac7fc url(../imgs/bgs/button_app_hover.gif) repeat-x left center;}  
.appBoxes .buttonBox:hover  {width: 100%; float: none; margin-top: 0;background: #3ac7fc url(../imgs/bgs/button_app.gif) repeat-x left center; border: none; }  
.appBoxes  .buttonContent {padding: 0px 0px 0px 0px; background: transparent url(../imgs/bgs/button_app_hover.gif) repeat-x left center; text-align: center;;}
.appBoxes  .buttonContent:hover {border: none; background: #d1137d url(../imgs/bgs/button_app.gif) repeat-x left center; }
.appBoxes   .button {display: block; height: 34px; width: 200px; line-height: 34px; font-size: 16px; font-weight: bold !important;}
.appBoxes .button:hover {background: #d1137d url(../imgs/bgs/button_app.gif) repeat-x left center !important; }
.appBoxes .errorBox {box-shadow: none; margin-bottom: 12px; margin-top: 10px;}

/*fixes for IE6*/
* html .tabs a:hover {background: #324fa6;}
* html .leftColumn {width: 533px; margin-left: 35px;}
* html .authorization {width: 150px; }
* html  .oneWideColumn {border-top: solid 1px #dfdfde;}
* html .tabs {position: static; margin-left: 60px; }

