body {font: 13px/17px Helvetica, Arial, Verdana, sans-serif; color: #616465;}
a:link, a:visited {color:#3160bc; text-decoration: none; font-weight: bold;}
a:hover {color:#3160bc; text-decoration: underline;}
.authorization a:link, a:visited {color: #2e2e92; text-decoration: none;}
.authorization a:hover {text-decoration: underline;}
/*.contentContainer a:link, .contentContainer  a:visited {color: #00adee; text-decoration: underline;}*/
.footerContainer  a:link, .footerContainer  a:visited{color: #898989; text-decoration: none;}
.footerContainer  a:hover {text-decoration: underline;}
.buttonShadow a:link, .buttonShadow  a:visited {color: #f8f6f7; }
input, textarea {font: 12px/12px Verdana, Arial, Calibri, FreeSans, sans-serif;}
h1,h2,h3 {font-family: Arial, Verdana, sans-serif; text-align: left;}

h3 {font-size: 15px;}
h4 {font-size: 10px;  text-align: left;}

.blockquote:before, blockquote:before {content: "\"";}
.blockquote:after, blockquote:after{content: "\"";}

.smallFont {font-size: 11px;}
.normalFont {font-size: 13px;}
.formContainer, .marketingBox {font-size: 13px;}

.lightGrey {color: #2e2e92;}
