<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" id="WebApp_ID"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<display-name>Now Technologies Web Portal</display-name>

	<!-- The context params that read by ContextLoaderListener -->
    <context-param>
        <param-name>project.version</param-name>
        <param-value>${project.version}</param-value>
    </context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:web-root.xml</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>web</param-value>
	</context-param>
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>@profile@</param-value>
    </context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring Security Filter -->
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<!-- Device Resolver Filter -->
	<filter>
        <filter-name>deviceResolverHandlerFilter</filter-name>
        <filter-class>org.springframework.mobile.device.DeviceResolverHandlerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>deviceResolverHandlerFilter</filter-name>
        <servlet-name>web</servlet-name>
    </filter-mapping> 

	<servlet>
		<servlet-name>web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:web-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>web</servlet-name>
        <url-pattern>/MANIFEST.MF</url-pattern>
    </servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
  
   <error-page>
    <error-code>404</error-code>
    <location>/page_not_found.html</location>
  </error-page>
  
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/font-woff</mime-type>
  </mime-mapping>
  
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>

    <!--Admin page with properties-->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <jsp-file>/WEB-INF/views/admin/properties.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>App admin page</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>app-admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <!--Admin page with properties-->

</web-app>
