body {font: 13px/17px Helvetica, Arial, Verdana, sans-serif; color: #4d4b4c;}
a:link, a:visited {color:#3160bc; text-decoration: none;}
a:hover {color:#3160bc; text-decoration: underline;}
.authorization a:link, a:visited {color: #000; text-decoration: none;}
.authorization a:hover {text-decoration: underline;}
/*.contentContainer a:link, .contentContainer  a:visited {color: #00adee; text-decoration: underline;}*/
.footerContainer  a:link, .footerContainer  a:visited{color: #ffffff; text-decoration: none;}
.footerContainer  a:hover {text-decoration: underline;}
h1,h2 {font-family: Arial, Verdana, sans-serif; text-align: left;}
.lightGrey {color: #FFFFFF;}
.formContainer, .marketingBox {
    font-size: 13px;
}
.smallFont {
    font-size: 11px;
}
.allRights {color: #ffffff;}
