<div class="wide color-swap-bg">
    <div class="height-header color-swap-header" xmlns="http://www.w3.org/1999/html">
        <div style="left: 121px; top: 12px" class="absolute font-main S18 text-shadow">
            <img src="<%=Messages['assetPath']%>imgs/ic_backstage_header.png" width="9px" height="15px" style="margin-right: 6px" /><%=Messages['page.swap.header.text']%></div>
        <a href="#allPlaylists" style="top:8px;left:6px;" class="absolute border-swap transparent button-swap S11">
            <%=Messages['page.swap.button.back.text']%></a>
    </div>
    <div class="pad8-rl">
        <div class="font-main S20 color-current-theme swapPlaylistConfirmationHeader">
            <div class="inline icon-playlist-large"/>
            <%=Messages['page.swap.title.text']%>
        </div>

		<div class="swapPlaylistConfirmationMiddleText"><%=Messages['page.swap.message.text']%></div>
        
        <div>
			<img width="100%" src="<%=Messages['assetPath']%>imgs/img_swap_confirmation.png" />
		</div>
        
		<div onclick="location.href='#apply'" class="button-turquoise font-light S15 shadow">
			<%=Messages['page.swap.button.ok.text']%>
		</div>
    </div>
</div>