<div class="height-header color-header text-center" xmlns="http://www.w3.org/1999/html">
    <div class="in-middle font-main S17 marg-T15">
        <div class="icon-playlist in-middle"/>
        <div class="in-middle">Choose Your Playlist</div>
    </div>
    <a href="#apply" class="button-small button-right">Apply</a>
</div>
<div class="pad5">
    <%
    if(Backbone.playlists.swaped){
    %>
    <div class="pane color-selected">
        <span class="font-main S13 color-current-theme">Playlist will be swapped in next update</span>
        <div class="in-middle icon-swap  right10"/>
    </div>
    <%
    }
    data.forEach(function (dto) {
        var color = 'color-main';
        var selectedIcon = '';
        var currentTheme = '';
        if(Backbone.playlists.preSelected == dto.id){
            color = 'color-selected';
            currentTheme = '<span class="font-main S13 color-current-theme">Current Theme:</span><br/>';
        }
        if(dto.selected)
            selectedIcon = '<div class="in-middle right10 marg-T30 icon-check"/>';
    %>
    <div id="<%= dto.id %>" onclick="location.href='#tracks/<%=dto.id%>'"
         class="pane height-pane <%= color %> ">
        <div class="in-middle icon-playlist-filled"/>
        <img class="in-middle cover" src="<%= dto.cover %>"/>

        <div class="in-middle  marg-L10">
            <%= currentTheme %>
            <span class="font-main S15"><%= dto.title %></span><br/>
            <span class="font-main S13"><%= dto.length %> Tracks</span>
        </div>
        <%= selectedIcon %>
    </div>
   <% }); %>
</div>