<div class="wide color-swap-bg">
    <div class="height-header color-swap-header" xmlns="http://www.w3.org/1999/html">
        <div style="left: 77px; top: 12px" class="absolute font-main S17 text-shadow">
            <div style="margin-right: 0px;margin-bottom: -1px;" class="inline icon-playlist"/><%=Messages['page.playlists.header.text']%></div>
        <a href="#allPlaylists" style="top:8px;left:6px;" class="absolute border-swap transparent button-swap S11">Back</a>
    </div>
    <div class="pad5">
        <div style="top: 62px;left: 6px" class="absolute font-main S20 color-current-theme">
            <div class="inline icon-playlist-large"/>
            Your Playlist is almost here
        </div>
        <div style="width: 130px;left: 10px;top: 116px;" class="absolute font-light S15 line14">
            Your playlist will swap with your next update.
            <div style="margin-top:19px;width: 120px;margin-left: 4px;" onclick="location.href='#apply'"
                 class="button-turquoise font-light S15 shadow">OK</div>
        </div>

        <div class="icon_swap_confirmation"/>

    </div>
</div>