<div class="height-header color-header text-center" xmlns="http://www.w3.org/1999/html">
    <a href="#allPlaylists" class="button-small button-left"><%=Messages['page.playlists.tracks.menu.back']%></a>
    <div class="header-position font-main S17">
        <div class="in-middle icon-playlist"/>
        <div class="in-middle text-header middle"><%=Messages['page.playlists.header.text']%></div>
    </div>
</div>
<div class="pad5">
    <%
    var color = 'color-main';
    if(playlist.selected)
        color = 'color-selected';
    %>
    <div class="pane height-pane <%= color %>">
        <div class="in-middle icon-playlist-filled"/>
        <img class="in-middle cover" src="<%= playlist.cover %>"/>
        <div class="line04 in-middle marg-L10">
            <span class="font-main S15"><%= playlist.title %></span><br/>
            <pre class="line1 font-main S13"><%= Strings.cutLn(playlist.description, 2, 18)%></pre>
            <span class="font-main S13"><%= playlist.length%> Tracks</span>
        </div>
        <% if(playlist.selected){ %>
            <div class="bottom-right icon-selected"/>
        <% } else { %>
            <div onclick="location.href='#select/<%= playlist.id%>'" class="btn bottom-right font-main S12 color-apply"><%=Messages['page.playlists.tracks.item.select']%></div>
        <% } %>
    </div>

    <% data.forEach(function (track) { %>
    <div id="track<%= track.id %>" class="pane height-track color-main" onclick="Player.playTrack(<%= track.id %>)">
        <div class="inline middle text-center">
            <img class="in-middle cover-track" src="<%= track.cover %>">
            <span id="icon-speakers<%= track.id %>" class="hidden icon-speakers"/>
        </div>
        <div class="line1 in-middle font-main marg-L5">
            <span class="S16"><%= track.title %></span><br/>
            <span class="S11"><%= track.artist%></span><br/>
            <span class="line04 b S9 color-channel"><%= track.channel%></span>
        </div>
        <div class="icon-clock"/>
    </div>
    <% }); %>
</div>
