<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="tpl::head" />

<body>
	<div th:substituteby="tpl::navbar"></div>
	<div class="container">
		<h1 class="head" th:text="#{tracks.ingest.page.title}">Ingest Drops To Track Repository</h1>
		<form id="ingestWizardDataDto" name="ingestWizardDataDto" action="#"
              th:action="@{__${action}__}"
              th:object="${ingestWizardDataDto}"
              method="post"
              accept-charset="UTF-8"
              class="well"
              th:with="canGoNext=(${action == '/drops/tracks/select'} and ${ingestWizardDataDto.hasAnySelected()}) or ${action == '/drops/commit'}">
            <input type="hidden" th:field="*{suid}" />
            <div class="newsListWide" style="width: 100%">
                <div th:if="${action == '/drops/tracks/select'} and ${!ingestWizardDataDto.hasAnySelected()}"  th:text="#{tracks.ingest.page.dropList.noSelectedDrops}" class="well_center white largeText">
                    No Selected Drops
                </div>
                <span th:if="${action == '/drops/commit'}"  th:text="#{tracks.ingest.page.dropList.willNotIngest}">
                    The Following tracks will not be ingested and content be deleted from the drop
                </span>
                <ul class="table" id="tracksTable" th:if="${canGoNext}">
                    <li class="title">
                        <div th:if="${action != '/drops/commit'}" class="select_drop">
                            <input type="checkbox" id="selectAll" />
                        </div>
                        <div class="product_id_track" th:text="#{tracks.ingest.page.dropList.head.track.productId}">Product ID</div>
                        <div class="action_track" th:text="#{tracks.ingest.page.dropList.head.track.action}">Action</div>
                        <div class="artist_track" th:text="#{tracks.ingest.page.dropList.head.track.artist}">Artist</div>
                        <div class="title_track" th:text="#{tracks.ingest.page.dropList.head.track.title}">Title</div>
                        <div class="isrc_track" th:text="#{tracks.ingest.page.dropList.head.track.isrc}">ISRC</div>
                        <div class="existing_track" th:text="#{tracks.ingest.page.dropList.head.track.existing}">Existing</div>
                    </li>
                    <li th:if="(${action == '/drops/tracks/select'} and ${dropDto.selected}) or ${action != '/drops/tracks/select'}" th:class="${action != '/drops/commit'} ? 'subtitle' : 'none'" th:each="dropDto, it: ${ingestWizardDataDto.drops}">
                        <div class="name_drop" th:text="${dropDto.name}">Name</div>
                        <li th:if="${action == '/drops/tracks/select' and trackDto.ingest == true} or ${action == '/drops/commit' and trackDto.ingest == false}" class="drops" th:each="trackDto, it2: ${dropDto.tracks}">
                            <div th:if="${action != '/drops/commit'}" class="select_drop">
                                <input type="checkbox" th:field="*{drops[__${it.index}__].tracks[__${it2.index}__].ingest}" />
                            </div>
                            <div class="product_id_track" th:text="${trackDto.productCode}">Product ID</div>
                            <div class="action_track" th:text="${trackDto.type}">Action</div>
                            <div class="artist_track" th:text="${trackDto.artist}">Artist</div>
                            <div class="title_track" th:text="${trackDto.title}">Title</div>
                            <div class="isrc_track" th:text="${trackDto.isrc}">ISRC</div>
                            <div class="existing_track" th:text="${trackDto.exists}">Existing</div>
                        </li>
                    </li>
                </ul>
                <br/>
            </div>

            <div class="form-actions">
                <button th:if="${canGoNext}" th:text="${action != '/drops/commit'} ? #{tracks.ingest.page.form.next} : #{tracks.ingest.page.form.commit}" class="btn btn-primary" type="submit">Next</button>
                <a th:text="#{tracks.ingest.page.form.cancel}" class="btn btn-primary" th:href="@{/tracks/list}">Cancel</a>
            </div>
		</form>
	</div>
</body>
</html>