<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="tpl::head" />

<body>
	<div th:substituteby="tpl::navbar"></div>

    <div class="container">
		<h1 class="head" th:text="#{tracks.pages.title}">Track Repository</h1>
		<form id="searchTrackDto" name="searchTrackDto" action="#" th:action="@{/tracks/list}" th:object="${searchTrackDto}" method="get" accept-charset="UTF-8" class="well">
		<input type="hidden" id="withFiles" name="withFiles" value="true"/>
		<div class="rel">
			<div class="input-prepend">
				<span class="add-on">Artist</span><input type="text" id="artist" name="artist" th:value="${param.artist!=null ? param.artist[0] : ''}" />
			</div>
			<div class="input-prepend">
				<span class="add-on">Title</span><input type="text" id="title" name="title" th:value="${param.title!=null ? param.title[0] : ''}" />
			</div>
			<div class="input-prepend">
				<span class="add-on">iSRC</span><input type="text" id="isrc" name="isrc" th:value="${param.isrc!=null ? param.isrc[0] : ''}" />
			</div>
            <div class="input-prepend">
                <span class="add-on">Album</span><input type="text" id="album" name="album" th:value="${param.album!=null ? param.album[0] : ''}" />
            </div>
		</div>
		<div class="rel">
			<div class="input-prepend">
				<span class="add-on">Ingest From</span><input type="text" id="ingestFromDatepicker" name="ingestFrom" th:value="${param.ingestFrom!=null ? param.ingestFrom[0] : ''}" />
				<p th:if="${#fields.hasErrors('ingestFrom')}" th:errors="*{ingestFrom}">Wrong date format</p>
			</div>
			<div class="input-prepend">
				<span class="add-on">Ingest To</span><input type="text" id="ingestToDatepicker" name="ingestTo" th:value="${param.ingestTo!=null ? param.ingestTo[0] : ''}" />
				<p th:if="${#fields.hasErrors('ingestTo')}" th:errors="*{ingestTo}">Wrong date format</p>
			</div>
			<div class="input-prepend">
				<span class="add-on">Release From</span><input type="text" id="releaseFromDatepicker" name="releaseFrom" th:value="${param.releaseFrom!=null ? param.releaseFrom[0] : ''}" />
				<p th:if="${#fields.hasErrors('releaseFrom')}" th:errors="*{releaseFrom}">Wrong date format</p>
			</div>
			<div class="input-prepend">
				<span class="add-on">Release To</span><input type="text" id="releaseToDatepicker" name="releaseTo" th:value="${param.releaseTo!=null ? param.releaseTo[0] : ''}" />
				<p th:if="${#fields.hasErrors('releaseTo')}" th:errors="*{releaseTo}">Wrong date format</p>
			</div>
		</div>
		<div class="rel">
			<div class="input-prepend">
				<span class="add-on">Territory</span><input type="text" id="territory" name="territory" th:value="${param.territory!=null ? param.territory[0] : ''}" />
			</div>
			<div class="input-prepend">
				<span class="add-on">Label</span><input type="text" id="label" name="label" th:value="${param.label!=null ? param.label[0] : ''}" />
			</div>
			<div class="input-prepend">
				<span class="add-on">Ingestor</span><input type="text" id="ingestor" name="ingestor" th:value="${param.ingestor!=null ? param.ingestor[0] : ''}" />
			</div>
            <div class="input-prepend">
                <span class="add-on">Genre</span><input type="text" id="genre" name="genre" th:value="${param.genre!=null ? param.genre[0] : ''}" />
            </div>
		</div>
		<div class="clear"></div>
			<div class="form-actions">
                <div class="span3" style="width:auto; margin-left:0px;">
                    <button id="searchByPageButton" th:text="#{tracks.page.search}" class="btn btn-primary btn-deco pull-left" type="button">Search</button>    
                </div>
                <div class="span2" >
                    <label style="display:inline-block;font-size: 13px;margin-right: 10px;vertical-align: baseline;position: relative;top: -14px;">Tracks per page: </label>
                    <select name="page.size" class="selectpicker" data-width="75px" data-style="position:relative; top:0px;">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="10000">all</option>
                    </select>
                    <input id="searchSize" type="hidden" value="aaa" th:attr="value=${PAGE_LIST_DTO.size}"/>
                </div>
                <div class="span5" style="float:right;">
                    <button th:if="${!#lists.isEmpty(PAGE_LIST_DTO.list)}" id="but-encode" class="btn btn-deco pull-right" type="button"  onclick="preEncodeAll()">Encode all</button>
                    <a th:text="#{tracks.ingest.page.form.commit}" class="btn btn-default btn-deco pull-right" th:href="@{/drops}" style="margin-right:8px">Ingest</a>
                    <!--<button th:if="${!#lists.isEmpty(PAGE_LIST_DTO.list)}" id="but-encode" class="btn btn-primary btn-deco" type="button" onclick="toEncode()">encode all</button>-->
                </div>
            </div>
            <div>
                
            </div>
		</form>
		<div th:if="${#lists.isEmpty(PAGE_LIST_DTO.list)}"  th:text="#{users.management.page.users.hasEmptyList}" class="well_center white largeText">
			No Search Results
		</div>

        <div th:substituteby="tpl::paginationBar"></div>

		<div class="newsListWide" style="width: 100%">
			<ul class="table" id="tracksTable" th:if="${!#lists.isEmpty(PAGE_LIST_DTO.list)}">
				<li class="title">
                    <div class="repo_columns_check">
                        <input type="checkbox" name="allEnc" onchange="checkAll()" style="left: 5px; position: absolute"/>
                    </div>
					<div class="product_id_repo_columns" th:text="#{tracks.page.trackList.head.ingestorAndLabel}">Ingestor/Label</div>
					<div class="image_repo_columns" th:text="#{tracks.page.trackList.head.image}">Image</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.isrc}">ISRC</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.title}">Title</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.subtitle}">SubTitle</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.artist}">Artist</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.duration}">Duration</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.releaseDate}">Release Date</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.publishDate}">Publish Date</div>
					<div class="repo_columns" th:text="#{tracks.page.trackList.head.territories}">Territories</div>

				</li>
				<li class="content popover-selector"
                    onShownPopover="onShownTrackDetails"
                    onHiddenPopover="onHiddenTrackDetails"
                    th:each="trackDto, it: ${PAGE_LIST_DTO.list}"
                    th:with="isVideo=${trackDto.mediaType.name() == 'VIDEO'}, mediaSrc=@{__${trackRepoFilesURL}__(id=__${trackDto.mediaFileName}__)}"
                    data-toggle="popover" data-placement="bottom" data-trigger="manual">
					<div th:id="${'idDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.id}">ID</div>
					<div th:id="${'iTunesUrlDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.itunesUrl}">iTunesUrl</div>
					<div th:id="${'amazonUrlDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.amazonUrl}">amazonUrl</div>
					<div th:id="${'licensedDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.licensed}">Licensed</div>
					<div th:id="${'infoDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.info}">Info</div>
					<div th:id="${'publishTitleDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.publishTitle}">Publish Title</div>
					<div th:id="${'publishArtistDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.publishArtist}">Publish Artist</div>
					<div th:id="${'resolutionDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.resolution}">Resolution</div>
					<div th:id="${'areArtistUrlsDiv_'+trackDto.id}" style="display: none;" th:text="${trackDto.areArtistUrls}">AreArtistUrls</div>

                    <div class="popover-title" style="display: none;">
                        <span class="popover-title-text" th:text="#{tracks.page.trackList.head.details}">Track Details</span>
                        <form class="in-line right-button" th:id="${'pulltrackForm_'+trackDto.id}" th:object="${TRACK_DTO}" name="TRACK_DTO" action="#"
                              th:with="canPull=${trackDto.status.name() == 'ENCODED' or trackDto.status.name() == 'PUBLISHED'}, pullingState=#{tracks.page.trackList.action.pulling}, pullState=#{tracks.page.trackList.action.pull}"
                              th:switch="${trackDto.status.name()}">
                            <button th:case="'PUBLISHING'" class='btn btn-primary' th:disabled="${!canPull}" th:id="${'pulltrackButton_'+trackDto.id}"
                                th:attr="data-loading-text=${pullingState}, data-original-text=${pullState}"
                                th:name="${trackDto.id}" type="button" onclick="showPullDialog(this.name);"
                                th:text="${pullingState}" >Pulling</button>
                            <button th:case="*" class='btn btn-primary' th:disabled="${!canPull}" th:id="${'pulltrackButton_'+trackDto.id}"
                                th:attr="data-loading-text=${pullingState}, data-original-text=${pullState}"
                                th:name="${trackDto.id}" type="button" onclick="showPullDialog(this.name);"
                                th:text="${pullState}" >Pull</button>
                        </form>
                        <form class="in-line right-button" style="float: right;" th:id="${'encodetrackForm_'+trackDto.id}" th:object="${TRACK_DTO}" name="TRACK_DTO" action="#"
                              th:with="canEncode=${trackDto.status.name() != 'ENCODING' and trackDto.status.name() != 'PUBLISHING'}, encodingState=#{tracks.page.trackList.action.encoding}, encodeState=#{tracks.page.trackList.action.encode}, reencodeState=#{tracks.page.trackList.action.reencode}"
                              th:switch="${trackDto.status.name()}">
                            <button th:case="'NONE'" class='btn btn-primary' th:disabled="${!canEncode}" th:id="${'encodetrackButton_'+trackDto.id}"
                                    th:attr="data-loading-text=${encodingState}, data-original-text=${encodeState}, data-retry-text=${reencodeState}"
                                    th:name="${trackDto.id}" type="button" onclick="showEncodeDialog(this.name);"
                                    th:text="${encodeState}">Encode</button>
                            <button th:case="'ENCODING'" class='btn btn-primary' th:disabled="${!canEncode}" th:id="${'encodetrackButton_'+trackDto.id}"
                                    th:attr="data-loading-text=${encodingState}, data-original-text=${encodeState}, data-retry-text=${reencodeState}"
                                    th:name="${trackDto.id}" type="button" onclick="showEncodeDialog(this.name);"
                                    th:text="${encodingState}">Encoding</button>
                            <button th:case="*" class='btn btn-primary' th:disabled="${!canEncode}" th:id="${'encodetrackButton_'+trackDto.id}"
                                    th:attr="data-loading-text=${encodingState}, data-original-text=${encodeState}, data-retry-text=${reencodeState}"
                                    th:name="${trackDto.id}" type="button" onclick="showEncodeDialog(this.name);"
                                    th:text="${reencodeState}">Re-Encode</button>
                        </form>
                    </div>

                    <div class="popover-content" style="display: none;">
                        <div class="control-group" style="width:1140px">
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.title}">Title:</strong></label>
                            <span class="details-value" th:text="${trackDto.title}">Title</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.subtitle}">Subtitle:</strong></label>
                            <span class="details-value" th:text="${trackDto.subTitle}">Subtitle</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.artist}">Artist:</strong></label>
                            <span class="details-value" th:text="${trackDto.artist}">Artist</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.album}">Album:</strong></label>
                            <span class="details-value" th:text="${trackDto.album}">Album</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.year}">Year:</strong></label>
                            <span class="details-value" th:text="${trackDto.year}">Year</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.genre}">Genre:</strong></label>
                            <span class="details-value" th:text="${trackDto.genre}">Genre</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.duration}">Duration:</strong></label>
                            <span class="details-value" th:text="${trackDto.formattedDuration}">Duration</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.copyright}">Copyright:</strong></label>
                            <span class="details-value" th:text="${trackDto.copyright}">Copyright</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.isrc}">ISRC:</strong></label>
                            <span class="details-value" th:text="${trackDto.isrc}">ISRC</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.productCode}">Product Code:</strong></label>
                            <span class="details-value" th:text="${trackDto.productCode}">Product Code</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.productId}">Product ID:</strong></label>
                            <span class="details-value" th:text="${trackDto.productId}">Product Id</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.ingestor}">Ingestor:</strong></label>
                            <span class="details-value" th:text="${trackDto.ingestor}">Ingestor</span>
                            <label class="details-label"><strong th:text="#{tracks.page.trackList.head.amazonUrl}">Amazon URL:</strong></label>
                            <a class="details-value" th:href="${trackDto.amazonUrl}" rel="tooltip" th:text="${trackDto.amazonUrl}" target="_blank"></a>
                        </div>
                        <ul class="table trackFiles">
                            <li class="title">
                                <div class="type_asset_columns" th:text="#{tracks.page.assetList.head.type}">Type</div>
                                <div class="path_asset_columns" th:text="#{tracks.page.assetList.head.path}">Path</div>
                            </li>
                            <li class="ui-state-default ui-state-disabled"><p class="loadingSmall">&#160;</p></li>
                         </ul>
                        <ul class="table trackTerritories">
                            <li class="title">
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.country}">Country</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.destributor}">Distributor</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.publisher}">Publisher</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.label}">Label</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.currency}">Currency</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.price}">Price</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.priceCode}">Price Code</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.startDate}">Start Date</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.reportingId}">Reporting ID</div>
                                <div class="territory_columns" th:text="#{tracks.page.territoryList.head.deleted}">Deleted</div>
                            </li>
                            <li class="ui-state-default ui-state-disabled"><p class="loadingSmall">&#160;</p></li>
                        </ul>
                    </div>

                    <div class="repo_columns_check">
                        <label class="for-encode">
                            <input type="hidden" name="encId" th:value="${trackDto.id}"/>
                            <input type="hidden" name="encIsrc" th:value="${trackDto.isrc}"/>
                            <input type="checkbox" name="isEncoded"/>
                        </label>
                    </div>
					<div class="product_id_repo_columns" th:text="${trackDto.ingestor != null ? trackDto.ingestor : '' }+' / '+${trackDto.label != null ? trackDto.label : ''}">Ingestor/Label</div>
					<div class="image_repo_columns">
						<img class="play" alt="Track image" src="" width="100" height="100" th:attr="src=@{__${trackRepoFilesURL}__(id=__${trackDto.coverFileName}__)}" th:alt="#{tracks.page.tracksTable.track.img.alt}" />
                        <div th:substituteby="tpl::audioPlayer"></div>
                        <div th:substituteby="tpl::videoPlayer"></div>
                    </div>
					<div class="repo_columns" th:id="${'isrcDiv_'+trackDto.id}" th:text="${trackDto.isrc}">ISRC</div>
					<div class="repo_columns" th:id="${'titleDiv_'+trackDto.id}" th:text="${trackDto.title}">Title</div>
					<div class="repo_columns" th:text="${trackDto.explicit != null and trackDto.explicit ? (trackDto.subTitle == null ? '' : trackDto.subTitle) + ' (EXPLICIT)' : trackDto.subTitle}">SubTitle</div>
					<div class="repo_columns" th:id="${'artistDiv_'+trackDto.id}" th:text="${trackDto.artist}">Artist</div>
					<div class="repo_columns" th:text="${trackDto.formattedDuration}">Duration</div>
					<div class="repo_columns" th:text="${trackDto.releaseDate != null ? #dates.format(trackDto.releaseDate, '__#{tracks.date.format}__') : ''}">Release Date</div>
					<div class="repo_columns" th:id="${'publishDateDiv_'+trackDto.id}"  th:text="${trackDto.publishDate != null ? #dates.format(trackDto.publishDate, '__#{tracks.datetime.format}__') : ''}">Publish
						Date</div>
					<div class="repo_columns" th:text="${trackDto.territoryCodes}">Territories</div>

				</li>
			</ul>
		</div>
	</div>

	<div th:substituteby="tpl::paginationBar"></div>

	<div id="pull-dialog" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">Pull Track</h3>
		</div>
		<div class="modal-body" style="width:530px">
			<form id="pull-form">
				<div class="control-group">
					<input type="hidden" name="id"/> 
					<input type="hidden" name="isrc"/>
					<label><strong th:text="#{tracks.page.pull.dialog.item.title}">Title:</strong></label> 
					<input type="text" name="title" style="width:98%;"/>
					<label><strong th:text="#{tracks.page.pull.dialog.item.artist}">Artist:</strong></label> 
					<input type="text" name="artist" style="width:98%;"/>
					<label><strong th:text="#{tracks.page.pull.dialog.item.info}">Artist Info:</strong></label> 
					<input type="text" name="info" style="width:98%;"/>
					<label><strong th:utext="#{tracks.page.pull.dialog.item.iTunesUrl}">iTunes Link:</strong></label>
					<a target="_blank" name="itunesLink"></a> 
					<input type="text" name="itunesUrl" style="width:98%;"/>
					<label><strong th:utext="#{tracks.page.pull.dialog.item.amazonUrl}">Amazon Link:</strong></label>
					<a target="_blank" name="amazonLink"></a> 
					<input type="text" name="amazonUrl" style="width:98%;"/>
					<label><strong th:utext="#{tracks.page.pull.dialog.item.areArtistUrls}">Are artist URLs:</strong></label>
					<input type="checkbox" name="areArtistUrls" style="width:98%;"/>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onclick="onPull();">Pull</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		</div>
	</div>
	
	<div id="encode-dialog" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">Encode Track</h3>
		</div>
		<div class="modal-body" style="width:530px">
			<form id="encode-form">
				<input type="hidden" name="id"/> 
				<input type="hidden" name="isrc"/>
				<input type="hidden" name="resolution"/>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" name="isHighRate" />
						<span th:text="#{tracks.page.encode.dialog.item.isHighRate}">96 kbs</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" name="licensed" />
						<span th:text="#{tracks.page.encode.dialog.item.licensed}">Licensed</span>
					</label>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onclick="onEncode();">Encode</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		</div>
	</div>

    <div id="encode-finished" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="header-label">Pull Track</h3>
        </div>
        <div id="errList" class="modal-body" style="width:530px">

        </div>

        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" name="isHighRate" />
                <span th:text="#{tracks.page.encode.dialog.item.isHighRate}">96 kbs</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" name="licensed" />
                <span th:text="#{tracks.page.encode.dialog.item.licensed}">Licensed</span>
            </label>
        </div>

        <div class="modal-footer">
            <button id="btnEncodeAllOk" class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
        </div>
    </div>

	<script type="text/javascript" th:inline="javascript">/*<![CDATA[*/
        var encodeUrl = /*[[@{'/tracks/encode.json'}]]*/"";
        var pullUrl = /*[[@{'/tracks/pull.json'}]]*/"";
        var findUrl = /*[[@{'/tracks/list.json'}]]*/"";
        var filesUrl = /*[[@{__${trackRepoFilesURL}__}]]*/"";
        var $dateformat = /*[[#{tracks.datetime.format}]]*/'dd/MM/yyyy hh:mm:ss';
        var defaultEncodeErrorMsg = /*[[#{tracks.encode.error}]]*/ 'Encode is unsuccessful';
        var defaultPullErrorMsg = /*[[#{tracks.pull.error}]]*/ 'Pull is unsuccessful';
        var encodeCheckDelay = 1000;
        var pullCheckDelay = 1000;	/*]]>*/
    </script>
</body>
</html>