<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:include="tpl::head" />

		<body>
			<div th:substituteby="tpl::navbar"></div>
				<div class="container" id="adsTable">
				<h1 class="head" th:text="#{ads.pages.ad.headline}">Ads</h1>
					
					<div class="newsListWide">
					
					<ul  class="table">
					<table class="ads_table">
						<thead class="header">
						<tr>
						<th th:text="#{ads.page.adsTable.head.position}" scope="col">#</th>
						<th th:text="#{ads.page.adsTable.head.image}" scope="col">Image</th>
						<th th:text="#{ads.page.adsTable.head.action}" scope="col">Action</th>
						<th th:text="#{ads.page.adsTable.head.message}" scope="col">Message</th>
						<th th:text="#{ads.page.adsTable.head.filters}" scope="col">Filters</th>
						<th th:text="#{ads.page.adsTable.head.activated}" scope="col">Online?</th>
						<th scope="col">Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="adDto, it: ${AD_ITEM_DTO_LIST}">
						<td th:text="${it.index+1}">1</td>
						<td><img alt="Ad's picture" width="50" height="50" src="" th:attr="src=@{__${filesURL +adDto.imageFileName}__}" th:alt="#{ads.page.adsTable.ad.img.alt}"/></td>
						<td th:text="${adDto.action}">Action</td>
						<td th:text="${adDto.message}">Editorial 1 Cheryl Cole gets fired from the X Factor</td>
						<td><span th:each="filterDto: ${adDto.filterDtos}"><span th:class="#{${'label label_'+filterDto.name}}" th:text="#{${'messages.pages.filter.'+filterDto.name}}">Filter list</span>&#160;<br/></span></td>
						<td th:text="${adDto.activated}?#{ads.page.adsTable.ad.activated}:#{ads.page.adsTable.ad.notActivated}">Yes</td>
						<td>
						<a th:href="@{/ads/__${adDto.id}__}" th:text="#{ads.page.adsTable.ad.edit.submit}">Edit</a> |
							<form id="deleteAdForm" name="deleteAdForm" action="#" th:action="@{/ads/__${adDto.id}__}" method="post">
								<input type="hidden" id="_method" name="_method" value="DELETE" />
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
						</tr>
						</tbody>
					</table>
					</ul>
				</div>
				<div class="navButtons">
					<div class="updateButton">
					<ul class="nav nav-pills table_margin">
					  <li class="active">
					    <a href="ads/add" th:href="@{/ads/}" th:text="#{ads.page.adsTable.ad.add.addNew}">Add New</a>
					  </li>
					</ul>
					</div>
				</div>
			</div>
			
		</body>
</html>


