<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:include="tpl::head" />

		<body>
			<div th:substituteby="tpl::navbar"></div>
				<div class="container" id="adsTable">
				<h1 class="head" th:text="#{ads.pages.ad.headline}">Ads</h1>
					<div class="newsListWide">
					<ul  class="table">
						<li class="title">
								<div class="number" th:text="#{ads.page.adsTable.head.position}">#</div>
								<div class="image_news" th:text="#{ads.page.adsTable.head.image}">Image</div>
								<div class="body" th:text="#{ads.page.adsTable.head.action}">Action</div>
								<div class="body" th:text="#{ads.page.adsTable.head.message}">Message</div>
								<div class="filters" th:text="#{ads.page.adsTable.head.filters}">Filters</div>
								<div class="online" th:text="#{ads.page.adsTable.head.activated}">Online?</div>
	<!--							<div class="date" th:text="#{ads.page.adsTable.head.publishTime}">Publish Date</div>-->
						</li>
					</ul>
					<ul class="table table_up" id="sortable">
						
						<li th:each="adDto, it: ${AD_ITEM_DTO_LIST}">
							<div class="number" th:text="${it.index+1}">1</div>
							<div class="image_news"><img alt="Ad's picture" width="50" height="50" src="" th:attr="src=@{__${filesURL +adDto.imageFileName}__}" th:alt="#{ads.page.adsTable.ad.img.alt}"/></div>
							<div class="body">
								<span th:text="${adDto.action}">http://www.ukr.net</span><br/><br />
								<span th:text="${adDto.message}">Editorial 1 Cheryl Cole gets fired from the X Factor</span><br/><br />
								<a th:href="@{/ads/__${adDto.id}__}" th:text="#{ads.page.adsTable.ad.edit.submit}">Edit</a> |
								<form id="deleteAdForm" name="deleteAdForm" action="#" th:action="@{/ads/__${adDto.id}__}" method="post">
									<input type="hidden" id="_method" name="_method" value="DELETE" />
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</div>
							
							<div class="filters">
								<span th:each="filterDto: ${adDto.filterDtos}">
									<span class="label"  th:class="#{${'label label_'+filterDto.name}}" th:text="#{${'messages.pages.filter.'+filterDto.name}}">Filter list</span>
								</span>
							</div>
							
							<div class="online" th:text="${adDto.activated}?#{ads.page.adsTable.ad.activated}:#{ads.page.adsTable.ad.notActivated}">No</div>
							
<!--							<div class="date" th:text="${#dates.format(adDto.publishTime, '__#{ads.page.adsTable.ad.publishDate.format}__')}">12/06/2012 12:00:00</div>-->
							
						</li>
					</ul>
				</div>
				<div class="navButtons">
					<div class="updateButton">
					<ul class="nav nav-pills table_margin">
					  <li class="active">
					    <a href="ads/add" th:href="@{/ads/}" th:text="#{ads.page.adsTable.ad.add.addNew}">Add New</a>
					  </li>
					</ul>
					</div>
				</div>
			</div>
			
		</body>
</html>


