<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" id="WebApp_ID"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<display-name>Now Technologies Server</display-name>

	<context-param>
		<param-name>project.version</param-name>
		<param-value>${project.version}</param-value>
	</context-param>
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>@profile@</param-value>
    </context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- The context params that read by ContextLoaderListener -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:transport-root.xml</param-value>
	</context-param>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>transport</param-value>
	</context-param>

	<!-- This listener will load other application context file in addition 
		to springweb-servlet.xml -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>transport</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>transport</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<!--Admin page with properties-->
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<jsp-file>/WEB-INF/views/admin/properties.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>App admin page</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>app-admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<!--Admin page with properties-->


</web-app>