<!DOCTYPE html>
<html>
<head>
    <title>Playlists</title>
    <link rel="stylesheet" type="text/css" href="/mobile.css"/>
    <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/underscore.js"></script>
    <script type="text/javascript" src="/backbone.js"></script>
    <script src="/json2.js"></script>
    <script src="/playlist.js"></script>

    <script id="tmpl_playlist" type="text/template">
        <% data.forEach(function (dto) { %>
        <div class="pane color-selected">
            <img class="inline" src="<%= dto.image %>">

            <div class="inline">
                <h2><%= dto.title %></h2>
                <h5><%= dto.size %></h5>
            </div>
        </div>
        <% }); %>
    </script>
    <script type="text/javascript">
     $(document).ready(function () {
            var router = new PlaylistRouter();
            Backbone.history.start();
        });
    </script>
</head>
<body>
<div class="header">
    Choose Your Playlist
    <a href="/account.html" class="button-small button-right">Close</a>
</div>
<div class="container">

</div>
</body>
</html>
