@font-face {
    font-family: 'FrutigerLight';
    src: url('../fonts/ftlcx___-light-webfont.eot');
    src: url('../fonts/ftlcx___-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftlcx___-light-webfont.woff') format('woff'),
         url('../fonts/ftlcx___-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FrutigerRegular';
    src: url('../fonts/ftbcx___-webfont.eot');
    src: url('../fonts/ftbcx___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftbcx___-webfont.woff') format('woff'),
         url('../fonts/ftbcx___-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerBold';
    src: url('../fonts/ftbcx___-bold-webfont.eot');
    src: url('../fonts/ftbcx___-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftbcx___-bold-webfont.woff') format('woff'),
         url('../fonts/ftbcx___-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'frutigerRoman';
    src: url('../fonts/ftrc___-roman-webfont.eot');
    src: url('../fonts/ftrc___-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftrc___-roman-webfont.woff') format('woff'),
         url('../fonts/ftrc___-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'FrutigerRegular', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	color: #1d3150;
	font-size: 14px;
    background-color: #003399;
}

a {
	color: #1d3150;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.bold {
	 font-weight: bold;
}
hr {
    height: 1px;
    border: none;
	background-color: #cccccc;
    margin: 5px 0 10px 0;
}

.cross-text{
    height: 1px;
    background-color: #cccccc;
    text-align: center;
    margin-bottom: 20px;
}
.cross-text span {
    padding:0 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    position: relative;
    color: #ccc;;
    top: -0.5em;
}

hr.addSpace2 {
	background-color: #cccccc; 
	height: 1px; 
	border: 0 none;
	margin-bottom: 35px;
    margin-top: 35px;
}

hr.addBothSpaces {
	margin: 15px 8px 22px 8px;
	display: block;
}
h1 {
    margin: 0 0 9px 0;
	font-size: 1.4em;		
	color: #1d3150;
}
h2 {
	font-size: 1.2em;		
	font-weight: normal;
}
h3 {
	font-size: 1em;		
	margin-left: 21px;
	margin-bottom: 0px;
	margin-top: 12px;
	color: #1d3150;
}
h2  a {
	text-decoration: none;
}
select {
	width: 100%;
	font-size: 0.8em;
	height: 25px;
	line-height: 1.6em;
	padding-left: 2px;
	padding-right: 0;
}
p  {
	font-size: 1.1em;
    margin: 0 0 5px 0;
}

.content p {
	font-size: 16px;		
	line-height: 1.4em;
	color: #616465;
}
.getAppContent p {margin-left: 42px !important; color: #5f584e;}
.content .oneQuestion  p  {margin-left: 0px;}
.content p.firstPar  {
	margin-top: 1.5em;
	color: #1d3150;
}
.text p {
	font-size: 0.8em;		
	line-height: 1.3em;
}
.oneQuestion p
{
	color: #838383;	
}
td, li {
	font-size: 1.1em;		
}
form {
	display: block;
}
/*service tools*/
.floatRight {
	float: right !important; 
}
.floatLeft {
	float: left; 
}
.clr {
	clear: both;
}

p.centered {
    text-align: center;
}

img.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
    height: 47px;
/*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000057', endColorstr='#000061'); for IE */
    background-image: linear-gradient(bottom, rgb(0,0,97) 24%, rgb(0,0,87) 62%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,97) 24%, rgb(0,0,87) 62%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,97) 24%, rgb(0,0,87) 62%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,97) 24%, rgb(0,0,87) 62%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,97) 24%, rgb(0,0,87) 62%);
    -pie-background: linear-gradient(bottom, rgb(0,0,97) 24%, rgb(0,0,87) 62%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, rgb(0,0,97)),
        color-stop(0.62, rgb(0,0,87))
    );
}		
.logo {
	display: inline-block;
    padding-top: 10px;
    position: relative;
}
.logo img {
	height: 27px;
    width: 175px;
}

.container {
	background-color: #003399;
	padding: 10px;
}

.pane-red span{
    padding-left: 35px;
}

.pane-red img{
    display: block;
    position: absolute;
    top: 9px;
    max-height: 25px;
    max-width:  25px;
}

.banner-pane img, {
    max-height: 50px;
    max-width:  50px;
}

.color-main{
    background-color: #00aeef;
    color: #fff;
}

.color-selected{
    background-color: #0055cc;
    color: #fff;
}

.pane{
    padding: 10px 10px 12px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.cover{
    max-width: 100px;
    max-height: 100px;
}
.inline{
    display: inline-block;
    vertical-align: top;
}

.block{
    display: block;
}

.pane-red, .banner-pane{
    padding: 10px 10px 12px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 2px 2px rgba(0, 0, 0, 0.5);
}

.pane-red{
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B70101', endColorstr='#990000'); for IE */
    background-image: linear-gradient(bottom, rgb(153,0,0) 0%, rgb(183,1,1) 87%);
    background-image: -o-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(183,1,1) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(183,1,1) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(183,1,1) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(183,1,1) 87%);
    -pie-background: linear-gradient(bottom, rgb(153,0,0) 0%, rgb(183,1,1) 87%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(153,0,0)),
        color-stop(0.87, rgb(183,1,1))
    );
}

.banner-pane{
/*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CCCC', endColorstr='#01BDBD'); for IE */
    background-image: linear-gradient(bottom, rgb(1,189,189) 10%, rgb(0,204,204) 55%);
    background-image: -o-linear-gradient(bottom, rgb(1,189,189) 10%, rgb(0,204,204) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(1,189,189) 10%, rgb(0,204,204) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(1,189,189) 10%, rgb(0,204,204) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(1,189,189) 10%, rgb(0,204,204) 55%);
    -pie-background: linear-gradient(bottom, rgb(1,189,189) 10%, rgb(0,204,204) 55%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, rgb(1,189,189)),
        color-stop(0.55, rgb(0,204,204))
    );
}

.pane-red span, .banner-pane span{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4em;
    color: #fff;
}

.content {
	padding: 15px 10px;
	background-color: #ffffff;
    border-radius: 5px;
}

.slected_option{
    color: #003399;
    font-weight: bold;
}
.getAppContent {
	border: none;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
 	opacity: 1.0; 
 	-moz-opacity: 1.0; 
 	-khtml-opacity: 1.0;
	/*height: 654px;*/
	overflow: hidden;
	position: relative;
	color: #fff;
}
.getAppContent .oneField {
	margin-left: 27px;
	margin-right: 27px;
}
.getAppContent h1 {
	color: #1d3150;
}

.orBox {
	text-align: center;
	height: 53px;
	background: transparent url(../imgs/bgs/or_bg.png) repeat-x center center ;
	/*position: absolute;
	top: 330px;
	left: 48%;*/
}
.getAppBottom {
	/*margin-top: 80px;*/
}
.getAppContent .formButton {
	margin-left: 27px; 
	margin-right: 27px;
}

.linksToStores {
	height: 202px;
	/*position: absolute; 
	top: 456px;
	left: 20px;*/
	width: 99%;
}
.linksToStores a {
	display: block;
	float: left;
	width: 29%;
	margin: 0 7px;
	height: 173px;
}
.appStore {
	background: transparent url(../imgs/apple.png) no-repeat left bottom;	
}
.androidMarket {
	background: transparent url(../imgs/android.png) no-repeat left bottom;	
}
.bbMarket {
	background: transparent url(../imgs/blackberry.png) no-repeat left bottom;	
}

.text {
	padding-bottom: 12px;
}
a.button, button {
	height: 32px;
	color: #ffffff;
	line-height: 29px;
	text-decoration: none;
	padding: 2px 0;
	border: 1px solid #000000;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
}

a.button {
	background: #142847 url(../imgs/bgs/button.png) repeat-x 0 center;	
	height: 30px!important;
	color: #ffffff;
	line-height: 30px!important;
	text-decoration: none;
	padding: 0px 15px 0px 22px!important;
	border: 1px solid #000000;
	display: inline-block;		
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 0px!important;
}

input.accounts{
	padding: 3px 10px 4px 20px;
	line-height: 25px;
	border: 1px solid #000000;
}

.buttonBox .button {
	font-size: 14px;
}

.footer .buttonBox a {
	font-size: 1.3em;
	margin-right: 0;
}
.footer .buttonBox {
	margin-right: 0;
}
.arrow {
	display: inline-block;
	width: 15px;
	background: transparent  url(../imgs/bgs/arrow_button_left.png) no-repeat 0px 0px;	
	height: 19px;
	position: absolute;
	left: 8px;
	top: 11px;
	width: 8px;
	height: 10px;
	background-size: 8px 10px;	
}

.buttonWrapper {
	margin: 17px;	
}


/*marketing*/
.marketingMaterials {	
	height: 0px;
	text-align: center;
}
.marketingMaterials img {
	margin-top: 31px;
	display: inline-block;
	text-align: center;
}
.rules
{
	background-color: #efefef;
	font-size: 0.8em;		 
	line-height: 1em;
	color: #525252;
	padding: 11px 28px 14px 28px;
}
.content p.bigSizeText {
	font-size: 1.1em;			
	margin-top: 18px;
	padding: 0;
	color: #1d3150;
}
.firstPar {
	margin-top: 23px;
	color: #1d3150;	
}
.footer {	
	padding: 0px 15px 10px 0;
}
.footer a {	
	text-decoration: none;	
	display: inline-block;
	margin-right: 20px;
	color: #ffffff;
	font-size: 16px;
	font-family: 'FrutigerBold';	
}
.bottomLinks  {
	text-align: center;
	padding: 10px 0 0 0;
}

.bottomLinks span {
	display: inline-block;
	padding: 0 8px;
	font-size: 0.8em;		
	line-height: 0.8em;
}
.faqLink {
	display: inline-block; 
	margin-left: 25%;
}
.copyright {
	text-align: center;
	line-height: 1em;
	font-size: 0.8em;
    margin: 10px 0;
}

.addSpace {	
	display: inline;
	vertical-align: bottom;
}
.addSpace2 {
	margin-top: 55px;
	margin-bottom: 35px;
}
.addSmallSpace {
	margin-top: 20px;
}

.shortButton  {
	width: 48%; 
	float: left;
	background: transparent url(../imgs/bgs/orange_button.png) repeat-x 0px 0px;	
	height: 81px;
	border: none none none none;	
	margin: 0;	
}
.oneQuestion {margin-left: 20px;}
.contentButton a, .contentButton input, .contentButton button {
	color: #ffffff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	display: block;
	font-size: 14px;		
	text-decoration: none;
	margin: 0px;
}
.facebookLoginButton {
	background: #4266ad url(../imgs/bgs/fb_button.png) repeat-x;	
	height: 39px;	
	border-top: solid 1px #6c87b9;
	border-right: solid 1px #26457e;
	border-bottom: solid 1px #233f73;
	border-left: solid 1px #26457e;
	margin: 8px 17px 17px 17px;	
}
.facebookLoginButton  a {
	background: transparent url(../imgs/bgs/fb.png) no-repeat 10px 0px;	
	height: 40px;	
	line-height: 40px;	
	padding-left: 47px;	
 	white-space: nowrap;		
 	overflow: hidden;
}

.formDetails .formButton .button {font-size: 1.2em;}

.formButton input, .formButton button {
	border: none;
	cursor: pointer;
}

.formButtonGrey input {
	background: #d8d9d8 url(../imgs/bgs/button_form_grey.png) repeat-x 0px center!important;
	display: block;
}

.setOfButtons  {
	margin-bottom: 17px;
}
.setOfButtons .formButton{
	margin-top: 10px;	
	margin-bottom: 15px;	
}
form .formButton  {
	margin-top: 15px;
}

.rightButtonArrow, .rightButtonArrowBlack {
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	background: transparent url(../imgs/arrow_grey.png) no-repeat;
	background-size: 25px 25px;
}

.button-off, .button-on, .button-arrow{
    display: block;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}

.button-arrow{
    background: transparent url(../imgs/arrow_right.png) no-repeat;
    top: 12px;
    right: 0;
    background-size: 10px 13px;
}

.button-off{
    background: transparent url(../imgs/radio_button_off.png) no-repeat;
    background-size:contain;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	-ms-background-size:contain;
}

.alert-button-close{
	display: block;
    position: absolute;
	width: 16px;
    height: 16px;
    background: transparent url(../imgs/icon_close_banner.png) no-repeat;
    background-size:contain;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	-ms-background-size:contain;
/* 	position: relative; */
	top:50%;
	right: 0;
	margin-top:-8px;
	padding-left: 0px;
}

.pane-red .alert-button-close{
	padding-left: 10px;
}

.pane-red .alert-text-close{
	width: 90%;
	padding-left: 0px;
	text-indent: 35px;
	text-align: left;
	display: inline-block;
}

.button-on{
    background: transparent url(../imgs/radio_button_on.png) no-repeat;
    background-size:contain;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	-ms-background-size:contain;
}

.leftButtonArrow {
	display: block;
	position: absolute;
	top: 15px;
	left: 15px;
	background: transparent  url(../imgs/bgs/arrow_button_left.png) no-repeat 0px 0px;	
	width: 8px;
	height: 10px;
	background-size: 8px 10px;	
}
.formButton  a, .shortButton a {
	text-align: center;
	height: 41px;
	line-height: 41px;
	background: #279cc9 url(../imgs/bgs/button_form.png) repeat-x 0px center;	
	white-space: nowrap;
	overflow: hidden;
}
.button-left{
    float: left;
    margin: 10px 0 13px 10px;
    position: relative;
}
.button-right  {
    float: right;
    margin: 10px 10px 13px 0;
    position: relative;
}

.button-small {
    padding: 0 10px 0 10px;
    height: 27px;
    line-height: 29px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #003399;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif;
}

.button1, .button-turquoise, .button-grey, .button-disabled{
    display: block;
    width: 100%;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    border-width: 0;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.button-disabled{
    opacity: 1;
    position:relative; 
/*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000066', endColorstr='#000066'); for IE */
    background-image: linear-gradient(bottom, rgb(0,0,102) 0%, rgb(0,0,102) 0%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,102) 0%, rgb(0,0,102) 0%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,102) 0%, rgb(0,0,102) 0%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,102) 0%, rgb(0,0,102) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,102) 0%, rgb(0,0,102) 0%);
    -pie-background: linear-gradient(bottom, rgb(0,0,102) 0%, rgb(0,0,102) 0%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(0,0,102)),
        color-stop(0, rgb(0,0,102))
    );
}

.button-grey{
    color: #4d4d4d;
/*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E9E9', endColorstr='#C8C8C9'); for IE */
    background-image: linear-gradient(bottom, rgb(200,200,201) 0%, rgb(232,233,233) 80%);
    background-image: -o-linear-gradient(bottom, rgb(200,200,201) 0%, rgb(232,233,233) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(200,200,201) 0%, rgb(232,233,233) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(200,200,201) 0%, rgb(232,233,233) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(200,200,201) 0%, rgb(232,233,233) 80%);
    -pie-background: linear-gradient(bottom, rgb(200,200,201) 0%, rgb(232,233,233) 80%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(200,200,201)),
        color-stop(0.8, rgb(232,233,233))
    );
    border: 1px solid #bfbfc0;
}

.button-grey:active{
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C8C8C9', endColorstr='#E8E9E9'); for IE */
    background-image: linear-gradient(bottom, rgb(232,233,233) 0%, rgb(200,200,201) 80%);
    background-image: -o-linear-gradient(bottom, rgb(232,233,233) 0%, rgb(200,200,201) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(232,233,233) 0%, rgb(200,200,201) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(232,233,233) 0%, rgb(200,200,201) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(232,233,233) 0%, rgb(200,200,201) 80%);
    -pie-background: linear-gradient(bottom, rgb(232,233,233) 0%, rgb(200,200,201) 80%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(232,233,233)),
        color-stop(0.8, rgb(200,200,201))
    );
}
.button-turquoise:active{
	
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#094467', endColorstr='#1399E7'); for IE */
    background-image: linear-gradient(bottom, rgb(19,153,231) 0%, rgb(9,68,103) 80%);
    background-image: -o-linear-gradient(bottom, rgb(19,153,231) 0%, rgb(9,68,103) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(19,153,231) 0%, rgb(9,68,103) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(19,153,231) 0%, rgb(9,68,103) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(19,153,231) 0%, rgb(9,68,103) 80%);
    -pie-background: linear-gradient(bottom, rgb(19,153,231) 0%, rgb(9,68,103) 80%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(19,153,231)),
        color-stop(0.8, rgb(9,68,103))
    );
}

.button-turquoise {
    font-weight: bold;
    
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1399E7', endColorstr='#094467'); for IE */
    background-image: linear-gradient(bottom, rgb(9,68,103) 0%, rgb(19,153,231) 80%);
    background-image: -o-linear-gradient(bottom, rgb(9,68,103) 0%, rgb(19,153,231) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(9,68,103) 0%, rgb(19,153,231) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(9,68,103) 0%, rgb(19,153,231) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(9,68,103) 0%, rgb(19,153,231) 80%);
    -pie-background: linear-gradient(bottom, rgb(9,68,103) 0%, rgb(19,153,231) 80%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(9,68,103)),
        color-stop(0.8, rgb(19,153,231))
    );
}

.button1 {
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002E8A', endColorstr='#00153F'); /* for IE */
    background-image: linear-gradient(bottom, rgb(0,21,63) 24%, rgb(0,46,138) 62%);
    background-image: -o-linear-gradient(bottom, rgb(0,21,63) 24%, rgb(0,46,138) 62%);
    background-image: -moz-linear-gradient(bottom, rgb(0,21,63) 24%, rgb(0,46,138) 62%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,21,63) 24%, rgb(0,46,138) 62%);
    background-image: -ms-linear-gradient(bottom, rgb(0,21,63) 24%, rgb(0,46,138) 62%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, rgb(0,21,63)),
        color-stop(0.62, rgb(0,46,138))
    );
}

.buttonsSet {
	margin: 26px 17px;
	height: 40px;
}
.firstButton  {
	margin-right: 2%;
}
.redButton  {
	background: transparent url(../imgs/bgs/red_button.png) repeat-x 0px 0px;	
}
.redButton  a {
	background: #ff3333 url(../imgs/bgs/red_button.png) repeat-x 0px 0px;	
}
.oneField label {
	display: block;	
	font-size: 1em;
	line-height: 1.5em;
	color: #5d5d5d;
}
div.inputBox, div.inputAreaBox {
	height: 25px; 
	border: solid 1px #777777; 
	padding: 0 10px; 
	background-color: #ffffff; 
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 	
	background: #ffffff url(../imgs/bgs/input.png) repeat-x 0px 0px;		
}
div.inputAreaBox  {
	height: 180px;
	background-position: left bottom;
}
.inputBox input, .inputBox textarea {
	display: block;
	width: 95%;
	border: none; 
	height: 25px; 
	line-height: 25px;  
	font-size: 0.8em;
	margin: 0; 
	padding: 0; 
	background: #ffffff url(../imgs/bgs/input.png) repeat-x 0px 0px;	
	font-family: Helvetica, Arial, sans-serif;	
}
 .inputBox textarea 
{
	height: 180px;	
	background-position: left bottom;
	width: 100%;
	line-height: 1.2em;  
}
.shortField .inputBox {
	width: 140px;
}
.mediumField .inputBox {
	width: 198px;
}
.attention{
	color: #e80505;
	font-weight: bold;
}

/*account details*/
.accounDetails {
	margin-top: 18px;
}
.accountOneField  {
	height: 28px; 
	border: solid 2px #a8aca9; 
	padding: 12px; 
	background: #f3f3f3 url(../imgs/bgs/account_field.png) repeat-x 0px 0px;	
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	font-size: 1.4em;
	font-weight: bold;
	line-height: 28px;
	margin: 10px 16px;
	white-space: nowrap;
	overflow: hidden;
}
.sign {
	background: #ffffff url(../imgs/bgs/account_arrow.png) no-repeat center center;	
	height: 54px;
	width: 54px;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: solid 2px #a8aca9; 
	display: inline-block;
	margin-right: 6px;
	text-decoration: none;
}
.accountOneFieldCurrent {
	background: transparent url(../imgs/bgs/orange_button.png) repeat-x 0px 0px;	
	border: none;
	padding: 13px; 
	height: 55px;
	color: #ffffff;
	margin-bottom: 24px;
}
.accountOneFieldCurrent  .sign {
	height: 54px;
	width: 54px;
	border: none;
	background: #ffffff url(../imgs/bgs/account_arrow_current.png) no-repeat center center;		
}
.currentFieldValue{
	display: block;
}
.orangeField {
	background: #ff6600 url(../imgs/bgs/orange_button.png) repeat-x 0px 0px;	
	border: none;
	height: 56px;
	margin: 11px 16px;
	color: #ffffff;
	position: relative;
	padding-left: 31px;
}
.orangeField  .sign {
	background: transparent url(../imgs/bgs/account_arrow_right.png) repeat-x 0px 0px;	
	width: 19px;
	height: 29px;
	border: none;
	position: absolute;
	right: 15px;
	top: 28px;
}
 /*Corners*/
.rad10 {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
.rad5 {
	border-radius: 0px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
}
/*notification*/
.note {
	width: 90%; 
	font-size: 0.75em; 
	color: #bf200b!important;
}
.attention {
	background: transparent url(../imgs/bgs/error_sign.png) no-repeat 48% top;		
	background-size: 37px 52px;
	height: 52px;
	margin-top: -60px;
}
.note   a {
	display: inline-block; 
	margin: 7px 9px; 
	vertical-align: middle; 	
	position: fixed;
	right: 0;
	bottom: -3px;
	display: none;

}
/*table dats*/
.tableList {
	font-size: 1.2em;
	width: 440x;
	margin-left: 28px;
	margin-top: 13px;
}
.oneItem {
	height: 46px;
	clear: both;
}
.nameCol {
	width: 180px; 
	display: block; 
	float: left;
}
.valueCol {
	width: 200px; 
	display: block; 
	float: left; 
	text-align: left;
}
.dateSelect select {
	width: 140px;
}
.devider {
	display: inline-block; 
	width: 24px; 
	text-align: center;
}
/*normal table*/
.table {
	border-radius: 7px; 	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px; 
	border: solid 1px #b3b3b3;
	margin: -3px 22px 35px 22px;

}
.table table {
	width: 100%;
}
.table td {
	height: 57px;
	border-right: solid 1px #b3b3b3;
	padding: 0 19px;
}
.table td.secondCol 
{
	border-left: solid 1px #ffffff;
	border-right: none;
}

.total {
	font-weight: bold;
}
.even {
	background-color: #ebe8e8;
}

/*account*/
.oneLine, .oneInputLine {
	margin-left: 21px; 
	font-size: 1em; 
	line-height: 1.3em;
	margin-bottom: 9px;
	margin-top: 6px;
}

.nameCell {display:-moz-inline-box; display:inline-block; vertical-align:top; width:30%; zoom:1; color: #616465;}

 .formDetails .nameCell, .payDetails  .nameCell{
 	padding-top: 7px;
 }

.valueCell {display:-moz-inline-box; display:inline-block; vertical-align:bottom; width:60%; zoom:1; //display:inline}
.helper {display:-moz-inline-box; display:inline-block; height:100%; width:0px; vertical-align:bottom; zoom:1; //display:inline}

 .valueCell .inputBox input {
	min-width: 323px;
 }
 .disabled input 
 {
 	color: #5d5d5d;
 }
 .pink {
 	color: #1d3150;
}
.valueCell a {
	display: inline-block;	
	font-weight: normal;
	margin-left: 10px;
}
/*sms*/
.oneField label.shortLabel {
	width: 80px; 
	float: left; 
	line-height: 2em; 
	margin-top: 7px;
}

.shortInput {
	width: 80px; 
}

/*credit card*/
.payDetails {
	margin-bottom: 36px;
}
.payDetails input, .formDetails input, .oneField  input {
	background: url('../imgs/bgs/input.png') repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    border-radius: 3px 3px 3px 3px;
    height: 2em;
    margin-top: 5px; 
    margin-right: 10px; 
    font-size: 0.8em;
    width: 100%;
}

.oneField  textarea {
    font-size: 0.8em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3px 0 10px 0;
    border: 1px solid #ccc;
}
.oneField  textarea , textarea {
    font-size: 0.8em; font-family:  Helvetica, Arial, sans-serif;
    height: 15em;
    background-position: left bottom;
}


.payDetails select {
	margin-top: 7px;
	width: auto;
	height: 25px;
}

.payDetails select.month, .payDetails select.year {
	display: inline-block;
	width: auto;
	height: 25px;
}


 .doubleLines span {
 	font-size: 0.7em;
 	display: block;
 }
 
 .cardDetails .oneLine {
	margin-left: 21px; 
	font-size: 15px; 
	margin-bottom: 9px;
	margin-top: 6px;
}

 .cardDetails .valueCell {
 	color: #1d3150;
 }
 
 /*for Web Store*/
 

.albumIcon {
	position: absolute;
	left: 0;
	width: 97px;
	height: 97px;
	border-right: 1px solid #d2d2d2;
}

.albmTitle {
	position: absolute;
	top: 20px;
	left: 110px;
	width: 45%;
	font-family: 'FrutigerBold';
	font-size: 18px;
	color: #1d3150;
}

.albmTitle span {
	display: block;
}



.albumButton a{
	color: #ffffff;
	text-decoration: none;
	font-family: "DroidSansBold"
	font-weight: bold;
	
	}

.albumMore {
	position: absolute;
	bottom: 5px;
	right: 0;
	width: 10px;
	height: 10px;
}

.trackRow {
	height: 64px;
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
	margin: 0;
	padding: 0;
	margin-top: -1px;
}

.trackRow img {
	padding-top: 5px;
	padding-left: 5px;
}

.trackRow span {
	line-height: 64px;
	vertical-align: top;
	font-family: 'FrutigerRegular';
	font-size: 16px;
	color: #1428a0;
	padding-left: 10px;
}

/*Web Store Accordion*/
.ac-container{
	width: 100%;
	text-align: left;
}

.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	
	width: 100%;
}
.ac-container article div{
	margin-left: 8px;
	margin-right: 8px;
	
}
.ac-container input:checked ~ article{
	
}
.ac-container input:checked ~ article.ac-small{
	height: 100%;
}

.margin {
 	margin: 10px;
 }

  .fieldWidth {
 	width: 100%!important;
 }
 
 /*Offers*/
.whiteWrapper {
	background-color: #FFFFFF!important;
}

.packBlock {
	position: relative;
	overflow: hidden;
	height: 97px;
	margin: 2px;
	border: 1px solid #d2d2d2;
	background-color: #FFFFFF;
}
.albumIcon {
	position: absolute;
	left: 0;
	width: 97px;
	height: 97px;
	border-right: 1px solid #d2d2d2;
}

.albmTitle {
	position: absolute;
	top: 20px;
	left: 110px;
	width: 70%;
	font-family: 'FrutigerBold';
	font-size: 16px;
	color: #d32287;
}

.albmBody {
	line-height: 20px;
	font-family: 'FrutigerRegular';
	font-size: 12px;
	color: #1428a0;
}

p.albmBody {
	margin: 0;
} 

.albmPrice {
	position: absolute;
	top: 20px;
	right: 20px;
	font-family: 'FrutigerBold';
	font-size: 16px;
	padding: 10px;

}

.albmPrice a{
	text-decoration: none;
	font-family: "DroidSansBold"
	font-weight: bold;
	color: #1d3150;
}

.albmPrice span {
	vertical-align: middle;
}
		
/*Offer*/
.packBlockDetails {
	position: relative;
	height: 192px;
	margin: 2px;
	border: 1px solid #d2d2d2;
	background: url("../imgs/bg_big.png") repeat-x #CCCCCC;
}

.albumShadow {
	position: absolute;
	width: 100%;
	height: 7px;
	left: 0;
	top: 193px;
	background: url("../imgs/shadow.png") repeat-x #CCCCCC;
}

.albumIconDetails {
	position: absolute;
	left: 0;
	width: 50%;
	height: 50%;
	border-right: 1px solid #d2d2d2;
}

.albumIconDetails img {
	width: 50%;
	height: 50%; 
}

.albmTitleDetails {
	position: absolute;
	top: 20px;
	left: 210px;
	width: 60%;
	font-family: 'FrutigerBold';
	font-size: 18px;
	color: #FFFFFF;
}
.albmBodyDetails {
	width: 60%;
	line-height: 20px;
	font-family: 'FrutigerRegular';
	font-size: 14px;
	color: #FFFFFF;
}

p.albmBodyDetails {
	margin: 0;
} 

.albumButton {
	background: url("../imgs/button_pink_bg.jpg") repeat-x #CCCCCC;
	font-family: 'FrutigerBold';
	font-size: 16px;
	padding: 10px;
	width: 70px;
}

.albumButton a{
	color: #1d3150;
	text-decoration: none;
	font-family: "FrutigerRegular";
	font-weight: bold;
}


/**/

div.itemsDetails {
	background-color: #ffffff;
	border-bottom: 1px solid #d2d2d2;
	width: 100%;
}

.itemsDetails img {
	position: relative;
	padding-bottom: 5px;
	padding-left: 5px;
}

.itemsDetails {
	line-height: 64px;
	vertical-align: top;
	font-family: 'FrutigerRegular';
	font-size: 22px;
	font-weight: bold;
	color: #d32287;
	padding-left: 10px;
}

.itemsDetails {
	position: relative;
	float: left;
}

.itemsImage {
	position: relative;
	float: left;
}

.itemCount {
	position: relative;
	left: 20px;
	top: 1px;
	font-size: 22px;
	font-weight: bold;
	color: #1d3150;
}

.itemsArtistName span {
	display: block;
	line-height: 25px;
}


.itemsCount {
	position: absolute;
	left: 90px;
	top: 10px;
	font-size: 22px;
	font-weight: bold;
	color: #d32287;
}

.itemsArtistName {
	position: absolute;
	left: 90px;
	top: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #1d3150;
}

.itemsTrackName {
	font-family: 'FrutigerRegular';
	font-weight: normal;
	font-size: 12px;
	color: #1428a0;
}

p.itemsTrackName {
	margin: 7px 0;
}

.backButton {
	background: url("../imgs/button_pink_bg.jpg") repeat-x #CCCCCC;
	font-size: 16px;
	padding: 10px;
	
}

.backButton a {
	color: #ffffff;
	text-decoration: none;
	font-family: "FrutigerRegular";
	font-weight: bold;
}

.buttonBoxSquare  {
	float: right;
	margin: 7px 7px 7px 0;
	position: relative; 
}

/*Web Store*/
		
.logoWebStore {
	display: block;
	top: 10px;
	left: 10px;	
	position: absolute;	
}

.logoWebStore img {
	width: 133px!important;
	height: 41px!important;
}

/*Cookie Conteiner*/

.cookie_conteiner {
	position: absolute;
	margin: 0;
	width: 100%;
	z-index: 1000;
	display: none;
}
	
.left {
	width:10%;
	float:left;
}

.right {
	width:10%;
	float:right;
}

.center {
	border: 1px solid #dad8cd;
	line-height: 1.8em;
	background: #fff8d0;
	margin: 0 10%;
	padding: 0 10px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top: 0;
}

.center span {
	font-size: 0.7em;
}

.offers_container {
	background: url(../imgs/bgs/body_left.jpg) repeat-x left top;
	min-height: 165px;
	padding-bottom: 20px;
}

.offer_block {
	margin: 2px;
	padding-bottom: 20px;
}

.offers_wrapper {
	margin: 0;
	padding: 0;
}

.gradient_border {
	display: none;
}

.validationNotes {
	padding: 20px;
	padding-left: 0px;
}
