<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>bundles/messaggi</value>
				<!-- other bundles here -->
			</list>
		</property>
	</bean>


	<bean id="appManager" class="mobi.nowtechnologies.service.AppManager">
		<constructor-arg index="0" value="CMS_persistence"></constructor-arg>
	</bean>
	<bean id="cnAppManager" class="mobi.nowtechnologies.service.CNAppManager">
		<constructor-arg index="0" value="CN_persistence"></constructor-arg>
	</bean>

	<bean id="trackDAO" class="mobi.nowtechnologies.service.dao.TrackDAO">
		<property name="appManager" ref="appManager"></property>
	</bean>
	<bean id="mediaDAO" class="mobi.nowtechnologies.service.dao.MediaDAO">
		<property name="appManager" ref="cnAppManager"></property>
	</bean>
	<bean id="artistDAO" class="mobi.nowtechnologies.service.dao.ArtistDAO">
		<property name="appManager" ref="cnAppManager"></property>
	</bean>
	<bean id="fileDAO" class="mobi.nowtechnologies.service.dao.MediaFileDAO">
		<property name="appManager" ref="cnAppManager"></property>
	</bean>
	<bean id="genreDAO" class="mobi.nowtechnologies.service.dao.GenreDAO">
		<property name="appManager" ref="cnAppManager"></property>
	</bean>
	<bean id="ingestionLogDAO" class="mobi.nowtechnologies.service.dao.IngestionLogDAO">
		<property name="appManager" ref="appManager"></property>
	</bean>


	<bean id="imageDownload" class="mobi.nowtechnologies.servlet.ImageDownload">
		<property name="dao" ref="trackDAO"></property>
	</bean>
	<bean id="musicDownload" class="mobi.nowtechnologies.servlet.MusicDownload">
		<property name="dao" ref="trackDAO"></property>
	</bean>

	<bean id="ingestService" class="mobi.nowtechnologies.service.IngestService">
		<property name="trackDAO" ref="trackDAO" />
		<property name="ingestionLogDAO" ref="ingestionLogDAO" />
	</bean>
	<bean id="publishService" class="mobi.nowtechnologies.service.PublishService">
		<property name="trackDAO" ref="trackDAO" />
		<property name="mediaDAO" ref="mediaDAO" />
		<property name="artistDAO" ref="artistDAO" />
		<property name="fileDAO" ref="fileDAO" />
		<property name="genreDAO" ref="genreDAO" />
	</bean>
	<bean id="ingestionBatch" class="mobi.nowtechnologies.ingestors.IngestionBatch">
		<property name="ingestService" ref="ingestService" />
	</bean>




	<!-- add your beans here -->

</beans>
